<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <link rel="stylesheet" href="/css/product/cart.css" />
  </head>
  <body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <main>
      <h3 class="cartEmpty" id="noresultmsg" th:if="${list.size == 0}">장바구니가 비어있습니다.</h3>
      <div class="container" th:if="${list.size != 0}">
        <div class="checkbox1">
          <label>
            <input type="checkbox" class="filled-in" name="all" id="selectAll" />
            <span class="textAllSelect">전체 상품 선택하기</span>
            <span class="cssAllDelete">
              <a id="btnDeleteAll" class="btn red"> 전체 삭제 </a>
            </span>
          </label>
        </div>

        <section id="section1" class="z-depth-1">
          <form id="orderForm">
            <table id="cartListAll" class="cartPlace highlight">
              <tbody>
                <tr th:each="cart: ${list}" th:id="'cartItem-' + ${cart.cart_id}">
                  <td>
                    <label>
                      <input type="checkbox" class="partSelect filled-in" name="cart" th:value="${cart.cart_id}" th:data-cartPrice="${cart.amount*cart.product_price}" />
                      <span class="chplace"></span>
                    </label>
                  </td>
                  <td>
                    <img th:src="'/images/'+${cart.product_image}" style="width: 150px" />
                  </td>
                  <td th:text="${cart.product_name}"></td>
                  <td class="textPrice">상품금액</td>
                  <td><span th:text="${#numbers.formatInteger(cart.product_price, 3, 'COMMA') }" id="productPrice"></span>원</td>
                  <td>주문개수 :</td>
                  <td><sapn th:text="${cart.amount}" id="amount"> </sapn>개</td>
                  <td>
                    <a class="btnDelete btn red" th:onclick="onDelete([[${cart.cart_id}]])">삭제</a>
                  </td>
                  <td>주문금액</td>
                  <td th:with="totalPrice=${#numbers.formatInteger(cart.amount*cart.product_price,3,'COMMA')}" class="onePayPrice"><span th:text="${totalPrice}"></span>원</td>
                </tr>
              </tbody>
            </table>
          </form>
        </section>
        <section id="section2" class="z-depth-1">
          <table id="orderpalce" class="orderCart">
            <tr>
              <td class="section10">
                <span class="textAllPrice">총상품금액</span>
              </td>
              <td class="section11">
                <span class="textZero" id="allPrice">0</span>
                <span>원</span>
              </td>
              <td class="section12">
                <a class="btnAllOrder btn green" id="btnAllPayment">총 주문하기</a>
              </td>
            </tr>
          </table>
        </section>
      </div>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
    <script src="/js/cocofarm.js"></script>
  </body>

  <script>
    const productName = document.querySelector(".productName");
    const productPrice = document.querySelector("#productPrice");
    const amount = document.querySelector("#amount");
    const onePayPrice = document.querySelector(".onePayPrice");
    const btnAllPayment = document.querySelector("#btnAllPayment");
    const orderForm = document.querySelector("#orderForm");
    const partSelect = document.querySelectorAll(".partSelect");
    const allPriceDiv = document.querySelector("#allPrice");
    const allCheckbox = document.querySelector("#selectAll");
    let allPrice = 0;

    btnAllPayment.addEventListener("click", () => {
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');
      const checkedItems = Array.from(checkboxes).filter((checkbox) => checkbox.checked);
      if (checkedItems.length === 0) {
        alert("상품을 선택해주세요.");
        return;
      }
      orderForm.action = "/order/cartorderpage";
      orderForm.method = "POST";
      orderForm.submit();
    });

    function onDelete(cart_id) {
      const data = {
        cart_id: cart_id,
      };
      sendServerData("POST", "/cart/delete", "application/json", JSON.stringify(data), function (data) {
        if (Number(data) > 0) {
          alert("삭제 되었습니다.");
          window.location.reload(true);
        } else {
          alert("삭제하지 못했습니다.");
        }
      });
    }

    [].forEach.call(partSelect, function (part) {
      part.addEventListener("change", checkboxSelect, false);
    });

    function checkboxSelect(e) {
      console.log(e.target);
      var check = e.target;
      console.log(check.checked);

      let cartPrice = Number(check.getAttribute("data-cartPrice"));
      if (check.checked) {
        allPrice = allPrice + cartPrice;
        console.log(allPriceDiv);

        allPriceDiv.textContent = allPrice.toLocaleString();
      } else {
        allPrice = allPrice - cartPrice;
        allPriceDiv.textContent = allPrice.toLocaleString();
      }
      allCheck();
    }

    // 전체 선택 체크박스

    // // 개별 선택 체크박스들
    // const checkboxes = document.querySelectorAll("#selectOne");

    // 전체 선택 체크박스 클릭 이벤트 처리

    allCheckbox.addEventListener("change", function (e) {
      const isChecked = allCheckbox.checked;
      var check = e.target;
      if (check.checked) {
        allPrice = 0;
        partSelect.forEach(function (checkbox) {
          let cartPrice = Number(checkbox.getAttribute("data-cartPrice"));
          checkbox.checked = isChecked;
          allPrice = allPrice + cartPrice;
          console.log(allPriceDiv);
        });

        allPriceDiv.textContent = allPrice.toLocaleString();
      } else {
        partSelect.forEach(function (checkbox) {
          let cartPrice = Number(checkbox.getAttribute("data-cartPrice"));
          checkbox.checked = false;
          console.log(allPriceDiv);
        });
        allPrice = 0;
        allPriceDiv.textContent = 0;
      }
      // 개별 선택 체크박스들 상태 업데이트
    });

    function allCheck() {
      var ok = true;
      partSelect.forEach(function (checkbox) {
        if (checkbox.checked == false) {
          ok = false;
          allCheckbox.checked = false;
          return false;
        }
      });
      if (ok) allCheckbox.checked = true;
    }

    // 개별 선택 체크박스들 클릭 이벤트 처리
    // partSelect.forEach(function (checkbox) {
    // checkbox.addEventListener("click", function () {
    //      const allChecked = Array.from(checkboxes).every(function (checkbox) {
    //        return checkbox.checked;
    //      });
    //     // 전체 선택 체크박스 상태 업데이트
    //     allCheckbox.checked = allChecked;
    //   });
    // });

    document.querySelector("#btnDeleteAll").addEventListener("click", function () {
      if (confirm("전체 삭제를 하시려면 확인을 눌러주세요.")) {
        deleteCartList();
      }
    });

    function deleteCartList(member_no) {
      const data = {
        member_no: member_no,
      };
      sendServerData("POST", "/cart/alldelete", "application/json", JSON.stringify(data), function (data) {
        if (Number(data) > 0) {
          alert("삭제 되었습니다. ");
          window.location.reload(true);
        } else {
          alert("삭제하지 못했습니다.");
        }
      });
    }
  </script>
</html>
