<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <link rel="stylesheet" href="/css/product/orderpayresult.css" />
  </head>
  <body>
    <!-- 주문 상세 보여주는 html임. url은 order/orderdetail-->
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <main>
      <div class="container">
        <!-- 결제완료 주문목록 창 -->
        <div class="order_header">
          <h3 class="order_payment"><span class="blind">주문결제내역</span></h3>
          <!-- <form> -->
          <div class="order_content">
            <div class="order_cont" th:each="dto:${list}">
              <div>
                <span
                  th:text="${#dates.format(dto.orderdate, 'yyyy-MM-dd')}"
                ></span>
                <span>결제</span>
              </div>
              <div th:text="${dto.price}"></div>

              <div class="order_cont" th:each="vo:${dto.orderproduct_list}">
                <div
                  id="order_status_cd"
                  th:data-order-status-cd="${vo.order_status_cd}"
                  th:data-orderproduct-id="${vo.orderproduct_id}"
                >
                  <div th:text="${vo.value}"></div>
                  <div>
                    <img
                      th:src="'/images/'+${vo.filename}"
                      style="width: 200px"
                    />
                  </div>
                  <div th:text="${vo.name}"></div>
                  <div th:text="${vo.price}"></div>
                  <div th:text="${vo.amount}"></div>
                  <div id="button-list" th:switch="${vo.order_status_cd}">
                    <ul th:case="301">
                      <button
                        class="button_deliberyinfo"
                        th:data-order-id="${dto.order_id}"
                      >
                        배송조회
                      </button>
                      <button
                        class="button_cancel"
                        th:data-orderproduct-id="${vo.orderproduct_id}"
                        th:data-order-status-cd="${vo.order_status_cd}"
                        th:data-order-id="${dto.order_id}"
                      >
                        주문 취소
                      </button>
                    </ul>
                    <ul th:case="302">
                      <button
                        class="button_deliberyinfo"
                        th:data-order-id="${dto.order_id}"
                      >
                        배송조회
                      </button>
                      <button
                        class="button_buyconfirm"
                        th:data-orderproduct-id="${vo.orderproduct_id}"
                        th:data-order-status-cd="${vo.order_status_cd}"
                        th:data-order-id="${dto.order_id}"
                      >
                        구매확정
                      </button>
                    </ul>
                    <ul th:case="303">
                      <button
                        class="button_buyconfirm"
                        th:data-orderproduct-id="${vo.orderproduct_id}"
                        th:data-order-status-cd="${vo.order_status_cd}"
                        th:data-order-id="${dto.order_id}"
                      >
                        구매확정
                      </button>
                      <button
                        class="button_changeapply"
                        th:data-orderproduct-id="${vo.orderproduct_id}"
                        th:data-order-status-cd="${vo.order_status_cd}"
                        th:data-order-id="${dto.order_id}"
                      >
                        교환신청
                      </button>
                      <button
                        class="button_refundapply"
                        th:data-orderproduct-id="${vo.orderproduct_id}"
                        th:data-order-status-cd="${vo.order_status_cd}"
                        th:data-order-id="${dto.order_id}"
                      >
                        환불신청
                      </button>
                    </ul>
                    <ul th:case="304">
                      <button
                        class="button_deliberyinfo"
                        th:data-order-id="${dto.order_id}"
                      >
                        배송조회
                      </button>
                    </ul>
                    <ul th:case="305">
                      <button
                        class="button_deliberyinfo"
                        th:data-order-id="${dto.order_id}"
                      >
                        배송조회
                      </button>
                    </ul>
                    <ul th:case="310">
                      <button
                        class="button_deliberyinfo"
                        th:data-order-id="${dto.order_id}"
                      >
                        배송조회
                      </button>
                      <button
                        class="button_reviewwrite"
                        th:data-orderproduct-id="${vo.orderproduct_id}"
                      >
                        리뷰쓰기
                      </button>
                    </ul>
                    <ul th:case="*"></ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
          <!-- </form> -->
        </div>
      </div>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
    <script src="/js/cocofarm.js"></script>

    <!-- Modal Structure -->
    <div id="orderdetail_modal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4 id="modal-title">Modal Header</h4>
        <div id="modal-content"></div>
      </div>
      <div class="modal-footer">
        <button id="confirm" class="btn btn red"></button>

        <button id="cancel" class="btn1 btn modal-close">취소</button>
      </div>
    </div>
  </body>
  <script>
    let buttonDeliberyinfo = document.querySelectorAll(".button_deliberyinfo");
    let buttonCancel = document.querySelectorAll(".button_cancel");
    let buttonBuyconfirm = document.querySelectorAll(".button_buyconfirm");
    let buttonChangeapply = document.querySelectorAll(".button_changeapply");
    let buttonRefundapply = document.querySelectorAll(".button_refundapply");
    let buttonReviewWrite = document.querySelectorAll(".button_reviewwrite");

    document.addEventListener("DOMContentLoaded", function () {
      let details = document.querySelectorAll(".modal");
      var instances = M.Modal.init(details);
    });

    //배송조회 버튼 눌렀을 때 보여주기만하고 끝
    buttonDeliberyinfo.forEach((button) => {
      button.addEventListener("click", (e) => {
        let order_id = e.target.getAttribute("data-order-id");
        const data = {
          order_id: order_id,
        };
        sendServerData(
          "POST",
          "/order/deliberystatus",
          "application/json",
          JSON.stringify(data),
          function (data) {
            let content = document.querySelector("#modal-content");
            let title = document.querySelector("#modal-title");
            title.innerText = "배송정보";
            content.innerHTML = data;
          }
        );
        let modalInstance = M.Modal.getInstance(
          document.querySelector("#orderdetail_modal")
        );
        let modalButton = document.querySelector(".btn1");
        modalButton.innerText = "확인";
        let modalButton_none = document.querySelector(".btn");
        modalButton_none.style.display = "none";
        modalButton.addEventListener("click", () => {
          modalInstance.close();
        });
        modalInstance.open();
      });
    });

    //303에서 교환신청 버튼 눌렀을때
    buttonChangeapply.forEach((button) => {
      button.addEventListener("click", () => {
        let modalInstance = M.Modal.getInstance(
          document.querySelector("#orderdetail_modal")
        );
        let modalButton = document.querySelector("#confirm");
        modalButton.innerText = "신청하기";
        let modalButton_cancel = document.querySelector(".btn1");
        modalButton_cancel.innerText = "취소";
        modalInstance.open();
      });
    });

    //303에서 환불신청 버튼 눌렀을때
    buttonRefundapply.forEach((button) => {
      button.addEventListener("click", () => {
        let modalInstance = M.Modal.getInstance(
          document.querySelector("#orderdetail_modal")
        );
        let modalButton = document.querySelector(".btn");
        modalButton.innerText = "신청하기";
        let modalButton_cancel = document.querySelector(".btn1");
        modalButton_cancel.innerText = "취소";
        modalInstance.open();
      });
    });

    //310에서 리뷰버튼 눌렀을때
    buttonReviewWrite.forEach((button) => {
      button.addEventListener("click", (e) => {
        let orderproduct_id = e.target.getAttribute("data-orderproduct-id");
        const data = {
          orderproduct_id: orderproduct_id,
        };
        sendServerData(
          "POST",
          "/order/reviewwritepage",
          "application/json",
          JSON.stringify(data),
          function (data) {
            let content = document.querySelector("#modal-content");
            let title = document.querySelector("#modal-title");
            title.innerText = "리뷰쓰기";
            content.innerHTML = data;
          }
        );
        let modalInstance = M.Modal.getInstance(
          document.querySelector("#orderdetail_modal")
        );
        let modalButton = document.querySelector("#confirm");
        modalButton.innerText = "글 올리기";

        modalButton.addEventListener("click", () => {
          let form = document.querySelector("#reviewForm");
          const data = {
            orderproduct_id: form.orderproduct_id.value,
            product_id: form.product_id.value,
            title: form.title.value,
            content: form.content.value,
          };
          sendServerData(
            "POST",
            "/order/reviewsave",
            "application/json",
            JSON.stringify(data),
            function (data) {
              let content = document.querySelector("#modal-content");
              let title = document.querySelector("#modal-title");
              title.innerText = "리뷰쓰기완료";
              content.innerHTML = data;
            }
          );
        });
        modalInstance.open();
      });
    });

    //버튼 처리 300부분
    buttonCancel.forEach((button) => {
      let orderproduct_id = button.getAttribute("data-orderproduct-id");
      let order_status_cd = button.getAttribute("data-order-status-cd");
      let order_id = button.getAttribute("data-order-id");
      button.addEventListener("click", () => {
        if (confirm("주문 취소를 원하시면 확인을 눌러주세요. ")) {
          console.log(button);
          const data = {
            orderproduct_id: orderproduct_id,
            order_status_cd: 300,
            order_id: order_id,
          };
          console.log(data);
          sendServerData(
            "POST",
            "update",
            "application/json",
            JSON.stringify(data),
            function (data) {
              //data = JSON.parse(data);
              if ((data.status = "OK")) {
                //
                alert("주문 취소 처리 되었습니다.");
                location.reload();
              } else {
                alert("삭제하지 못했습니다.");
              }
            }
          );
        }
      });
    });

    //303 배송완료에서 310구매 확정으로 변경
    buttonBuyconfirm.forEach((button) => {
      let orderproduct_id = button.getAttribute("data-orderproduct-id");
      let order_status_cd = button.getAttribute("data-order-status-cd");
      let order_id = button.getAttribute("data-order-id");
      button.addEventListener("click", () => {
        if (confirm("구매확정을 원하시면 확인을 눌러주세요. ")) {
          console.log(button);
          const data = {
            orderproduct_id: orderproduct_id,
            order_status_cd: 310,
            order_id: order_id,
          };
          console.log(data);
          sendServerData(
            "POST",
            "update",
            "application/json",
            JSON.stringify(data),
            function (data) {
              //data = JSON.parse(data);
              if ((data.status = "OK")) {
                //
                alert("구매확정 처리 되었습니다.");
                location.reload();
              } else {
                alert("처리하지 못했습니다.");
              }
            }
          );
        }
      });
    });

    // buttonCancel.forEach((button) => {
    //   let orderproduct_id = button.getAttribute("data-orderproduct_id");
    //   button.addEventListener("click", () => {
    //     const data = {
    //       orderproduct_id: orderproduct_id,
    //     };
    //     sendServerData(
    //       "POST",
    //       "/order/payresult",
    //       "application/json",
    //       JSON.stringify(data),
    //       function (data) {
    //         data = JSON.parse(data);
    //         if ((data.status = "OK")) {
    //           if (confirm("주문 취소를 원하시면 취소를 눌러주세요. ")) {
    //             alert("주문 취소 처리 되었습니다.");
    //             location.reload();
    //           } else {
    //             alert("삭제하지 못했습니다.");
    //           }
    //         }
    //       }
    //     );
    //   });
    // });
  </script>
</html>
