<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <link rel="stylesheet" href="/css/product/orderpayresult.css" />
  </head>
  <body>
    <!-- 주문 상세 보여주는 html임. url은 order/orderdetail-->
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <main>
      <div class="container">
        <!-- 결제완료 주문목록 창 -->
        <div class="order_header">
          <h3 class="order_payment"><span class="blind">주문결제내역</span></h3>
          <!-- <form> -->
          <div class="order_content">
            <div class="order_cont" th:each="dto:${list}">
              <div class="buyContentP">
                <div>
                  <span
                    th:text="${#dates.format(dto.orderdate, 'yyyy-MM-dd')}"
                  ></span>
                  <span>결제</span>
                </div>
                <div class="detailPricePlace">
                  <span>결제금액 : </span
                  ><span
                    th:text="${#numbers.formatInteger(dto.price,3,'COMMA')}"
                  ></span
                  ><span>원</span>
                </div>
              </div>

              <div class="order_cont" th:each="vo:${dto.orderproduct_list}">
                <div
                  id="order_status_cd"
                  th:data-order-status-cd="${vo.order_status_cd}"
                  th:data-orderproduct-id="${vo.orderproduct_id}"
                >
                  <div class="status" th:text="${vo.value}"></div>
                  <div class="imageSpace">
                    <img
                      th:src="'/images/'+${vo.filename}"
                      style="width: 200px"
                    />
                  </div>
                  <br />
                  <div class="rightPlaceP">
                    <div>
                      <span>상품명: <span th:text="${vo.name}"></span></span>
                    </div>

                    <div>
                      <span
                        >개당 상품 가격:
                        <span
                          th:text="${#numbers.formatInteger(vo.price,3,'COMMA')}"
                        ></span
                        >원</span
                      >
                    </div>
                    <div>
                      <span
                        >구매 개수: <span th:text="${vo.amount}"></span>개</span
                      >
                    </div>
                  </div>
                  <br />
                  <div></div>
                  <br />
                  <div class="buttonContainer">
                    <div id="button-list" th:switch="${vo.order_status_cd}">
                      <ul th:case="301">
                        <a
                          class="button_deliberyinfo btn"
                          th:onclick="deliberyinfo([[${dto.order_id}]])"
                        >
                          배송조회
                        </a>
                        <a
                          class="button_cancel btn red"
                          th:onclick="cancel([[${dto.order_id}]],[[${vo.order_status_cd}]],[[${vo.orderproduct_id}]])"
                        >
                          주문 취소
                        </a>
                      </ul>
                      <ul th:case="302">
                        <a
                          class="button_deliberyinfo btn"
                          th:onclick="deliberyinfo([[${dto.order_id}]])"
                        >
                          배송조회
                        </a>
                        <a
                          class="button_buyconfirm btn green"
                          th:onclick="buyconfirm([[${dto.order_id}]],[[${vo.order_status_cd}]],[[${vo.orderproduct_id}]])"
                        >
                          구매확정
                        </a>
                      </ul>
                      <ul th:case="303">
                        <a
                          class="button_buyconfirm btn green"
                          th:onclick="buyconfirm([[${dto.order_id}]],[[${vo.order_status_cd}]],[[${vo.orderproduct_id}]])"
                        >
                          구매확정
                        </a>
                        <a
                          class="button_changeapply btn orange"
                          th:onclick="change([[${dto.order_id}]],[[${vo.order_status_cd}]],[[${vo.orderproduct_id}]]
                          ,[[${vo.name}]],[[${vo.filename}]],[[${vo.amount}]])"
                        >
                          교환신청
                        </a>
                        <a
                          class="button_refundapply btn orange"
                          th:onclick="refund([[${dto.order_id}]],[[${vo.order_status_cd}]],[[${vo.orderproduct_id}]]
                          ,[[${vo.name}]],[[${vo.filename}]],[[${vo.amount}]])"
                        >
                          환불신청
                        </a>
                      </ul>
                      <ul th:case="304">
                        <a
                          class="button_deliberyinfo btn"
                          th:onclick="deliberyinfo([[${dto.order_id}]])"
                        >
                          배송조회
                        </a>
                      </ul>
                      <ul th:case="305">
                        <a
                          class="button_deliberyinfo btn"
                          th:onclick="deliberyinfo([[${dto.order_id}]])"
                        >
                          배송조회
                        </a>
                      </ul>
                      <ul th:case="310">
                        <a
                          class="button_deliberyinfo btn"
                          th:onclick="deliberyinfo([[${dto.order_id}]])"
                        >
                          배송조회
                        </a>
                        <a
                          class="button_reviewwrite btn green"
                          th:if="${vo.checkreview eq  0}"
                          th:onclick="reviewwrite([[${vo.orderproduct_id}]],[[${vo.filename}]],[[${vo.name}]])"
                        >
                          리뷰쓰기
                        </a>
                        <a
                          class="button_reviewwrite btn"
                          th:if="${vo.checkreview ne 0}"
                          th:onclick="reviewread([[${vo.orderproduct_id}]])"
                        >
                          리뷰확인
                        </a>
                      </ul>
                      <ul th:case="*"></ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- </div> -->
          </div>
          <!-- </form> -->
        </div>
      </div>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
    <script src="/js/cocofarm.js"></script>

    <!-- Modal Structure 배송조회 모달-->
    <div id="deliberymodal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4 class="modal-title">Modal Header</h4>
        <div id="deliberycontent"></div>
      </div>
      <div class="modal-footer">
        <button class="btncancel btn modal-close">확인</button>
      </div>
    </div>

    <!-- Modal Structure 교환신청 모달-->
    <div id="changemodal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4 class="modal-title">Modal Header</h4>
        <div id="changecontent"></div>
      </div>
      <div class="modal-footer">
        <button class="btnconfirm btn red">신청하기</button>

        <button class="btncancel btn modal-close">취소</button>
      </div>
    </div>

    <!-- Modal Structure 환불신청 모달-->
    <div id="refundmodal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4 class="modal-title">Modal Header</h4>
        <div id="refundcontent"></div>
      </div>
      <div class="modal-footer">
        <button class="btnconfirm btn red">신청하기</button>

        <button class="btncancel btn modal-close">취소</button>
      </div>
    </div>

    <!-- Modal Structure 리뷰쓰기 모달 이대로 쓰기-->
    <div id="reviewmodal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4 class="modal-title">Modal Header</h4>
        <div id="reviewcontent"></div>
      </div>
      <div class="modal-footer" id="reviewfooter">
        <button class="btnconfirm btn red">글 올리기</button>

        <button class="btncancel btn modal-close">취소</button>
      </div>
    </div>
  </body>
  <script>
    let buttonDeliberyinfo = document.querySelectorAll(".button_deliberyinfo");
    let buttonCancel = document.querySelectorAll(".button_cancel");
    let buttonBuyconfirm = document.querySelectorAll(".button_buyconfirm");
    let buttonRefundapply = document.querySelectorAll(".button_refundapply");
    let buttonReviewWrite = document.querySelectorAll(".button_reviewwrite");

    const deliberyModal = M.Modal.init(
      document.querySelector("#deliberymodal"),
      {}
    );
    const changeModal = M.Modal.init(
      document.querySelector("#changemodal"),
      {}
    );
    const refundModal = M.Modal.init(
      document.querySelector("#refundmodal"),
      {}
    );
    const reviewModal = M.Modal.init(
      document.querySelector("#reviewmodal"),
      {}
    );

    //배송조회 확인
    function deliberyinfo(order_id) {
      const data = {
        order_id: order_id,
      };
      sendServerData(
        "POST",
        "/order/deliberystatus",
        "application/json",
        JSON.stringify(data),
        function (data) {
          let title = document.querySelector("#deliberymodal .modal-title");
          title.innerText = "배송정보";
          let content = document.querySelector("#deliberycontent");
          content.innerHTML = data;
        }
      );
      deliberyModal.open();
    }
    //-----------------------------------------------------------------

    //주문 취소 확인
    function cancel(order_id, order_status_cd, orderproduct_id) {
      if (confirm("주문 취소를 원하시면 확인을 눌러주세요. ")) {
        const data = {
          orderproduct_id: orderproduct_id,
          order_status_cd: 300,
          order_id: order_id,
        };
        console.log(data);
        sendServerData(
          "POST",
          "update",
          "application/json",
          JSON.stringify(data),
          function (data) {
            //data = JSON.parse(data);
            if ((data.status = "OK")) {
              //
              alert("주문 취소 처리 되었습니다.");
              location.reload();
            } else {
              alert("삭제하지 못했습니다.");
            }
          }
        );
      }
    }
    //-----------------------------------------------------------------

    //교환 처리 확인
    function change(
      order_id,
      order_status_cd,
      orderproduct_id,
      name,
      filename,
      amount
    ) {
      const data = {
        orderproduct_id: orderproduct_id,
        name: name,
        filename: filename,
        amount: amount,
      };
      console.log(data);
      sendServerData(
        "POST",
        "/order/changeandrefundpage",
        "application/json",
        JSON.stringify(data),
        function (data) {
          let title = document.querySelector("#changemodal .modal-title");
          let content = document.querySelector("#changecontent");
          title.innerText = "교환신청 작성";
          content.innerHTML = data;

          let modalButton = document.querySelector(".btnconfirm");
          if (modalButton) {
            modalButton.onclick = function () {
              let form = document.querySelector("#applicationForm");
              let reasonInput = document.querySelector("#reasonInput");
              const isButtonSelected = applicationForm.querySelector(
                'input[name="changeandrefund"]:checked'
              );
              const isReasonProvided = reasonInput.value.trim().length > 0;
              if (isButtonSelected || isReasonProvided) {
                if (confirm("신청하시겠습니까?")) {
                  const data = {
                    orderproduct_id: orderproduct_id,
                    reasoncode: form.changeandrefund.value,
                    textreason: form.changeandrefundcontent.value,
                    order_status_cd: 304,
                  };
                  sendServerData(
                    "POST",
                    "insertchangeandrefund",
                    "application/json",
                    JSON.stringify(data),
                    function (data) {
                      if ((data.status = "OK")) {
                        console.log("정상 저장 ");
                        alert("교환 신청이 접수되었습니다.");
                        changeModal.close();
                        location.reload();
                      } else {
                        console.log("저장되지 않음.");
                        alert("신청 접수를 정상적으로 하지 못했습니다.");
                      }
                    }
                  );
                }
              } else {
                alert("버튼을 선택하거나 상세사유를 입력해주세요.");
              }
            };
          }

          changeModal.open();
        }
      );
    }

    //----------------------------------------------------------------
    //환불 처리 확인
    function refund(
      order_id,
      order_status_cd,
      orderproduct_id,
      name,
      filename,
      amount
    ) {
      const data = {
        orderproduct_id: orderproduct_id,
        name: name,
        filename: filename,
        amount: amount,
      };
      console.log(data);
      sendServerData(
        "POST",
        "/order/changeandrefundpage",
        "application/json",
        JSON.stringify(data),
        function (data) {
          let title = document.querySelector("#refundmodal .modal-title");
          let content = document.querySelector("#refundcontent");
          title.innerText = "환불신청 작성";
          content.innerHTML = data;

          let modalButton = document.querySelector("#refundmodal .btnconfirm");
          if (modalButton) {
            modalButton.onclick = function () {
              let form = document.querySelector("#applicationForm");
              let reasonInput = document.querySelector("#reasonInput");
              const isButtonSelected = applicationForm.querySelector(
                'input[name="changeandrefund"]:checked'
              );
              const isReasonProvided = reasonInput.value.trim().length > 0;
              if (isButtonSelected || isReasonProvided) {
                if (confirm("신청하시겠습니까?")) {
                  const data = {
                    orderproduct_id: orderproduct_id,
                    reasoncode: form.changeandrefund.value,
                    textreason: form.changeandrefundcontent.value,
                    order_status_cd: 305,
                  };
                  sendServerData(
                    "POST",
                    "insertchangeandrefund",
                    "application/json",
                    JSON.stringify(data),
                    function (data) {
                      if ((data.status = "OK")) {
                        console.log("정상 저장 ");
                        alert("환불 신청이 접수되었습니다.");
                        refundModal.close();
                        location.reload();
                      } else {
                        console.log("저장되지 않음.");
                        alert("신청 접수를 정상적으로 하지 못했습니다.");
                      }
                    }
                  );
                }
              } else {
                alert("버튼을 선택하거나 상세사유를 입력해주세요.");
              }
            };
          }
          refundModal.open();
        }
      );
    }

    //리뷰
    function reviewwrite(orderproduct_id, filename, name) {
      const data = {
        orderproduct_id: orderproduct_id,
      };
      sendServerData(
        "POST",
        "/order/reviewwritepage",
        "application/json",
        JSON.stringify(data),
        function (data) {
          let content = document.querySelector("#reviewcontent");
          let title = document.querySelector("#reviewmodal .modal-title");
          title.innerText = "리뷰쓰기";
          content.innerHTML = data;
        }
      );

      let modalButton = document.querySelector("#reviewmodal .btnconfirm");
      if (modalButton) {
        modalButton.innerText = "글 올리기";

        modalButton.onclick = function () {
          let form = document.querySelector("#reviewForm");
          const data = {
            name: name,
            mainimage: filename,
            orderproduct_id: form.orderproduct_id.value,
            product_id: form.product_id.value,
            title: form.title.value,
            content: form.content.value,
          };

          sendServerData(
            "POST",
            "/order/reviewsave",
            "application/json",
            JSON.stringify(data),
            function (data) {
              let content = document.querySelector("#reviewcontent");
              let title = document.querySelector("#reviewmodal .modal-title");
              title.innerText = "리뷰쓰기완료";
              content.innerHTML = data;
              let reviewfooter = document.querySelector("#reviewfooter");
              reviewfooter.innerHTML =
                "<button class='btn modal-close'>확인</button>";
              // location.reload();
            }
          );
        };

        reviewModal.open();
      }
    }

    function reviewread(orderproduct_id) {
      let form = document.querySelector("#reviewForm");
      const data = {
        orderproduct_id: orderproduct_id,
      };
      sendServerData(
        "POST",
        "/order/reviewreadpage",
        "application/json",
        JSON.stringify(data),
        function (data) {
          let content = document.querySelector("#reviewcontent");
          let title = document.querySelector("#reviewmodal .modal-title");
          title.innerText = "내가 쓴 리뷰";
          content.innerHTML = data;
          let reviewfooter = document.querySelector("#reviewfooter");
          reviewfooter.innerHTML =
            "<button class='btn modal-close'>확인</button>";
        }
      );
      reviewModal.open();
    }

    //구매확정 확인
    function buyconfirm(order_id, order_status_cd, orderproduct_id) {
      if (confirm("구매확정을 원하시면 확인을 눌러주세요. ")) {
        const data = {
          orderproduct_id: orderproduct_id,
          order_status_cd: 310,
          order_id: order_id,
        };
        console.log(data);
        sendServerData(
          "POST",
          "update",
          "application/json",
          JSON.stringify(data),
          function (data) {
            //data = JSON.parse(data);
            if ((data.status = "OK")) {
              //
              alert("구매확정 처리 되었습니다.");
              location.reload();
            } else {
              alert("처리하지 못했습니다.");
            }
          }
        );
      }
    }
    //-----------------------------------------------------------------버튼들 처리
  </script>
</html>
