<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <link rel="stylesheet" href="/css/product/productdetail.css" />
  </head>
  <body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <main>
      <div class="containerCenter">
        <div class="containerPlace">
          <div class="leftPlace">
            <img
              th:each="image : ${list}"
              th:src="'/images/'+${image.filename}"
              style="width: 150px"
            />
          </div>
          <div class="rightPlace">
            <div class="rightContent">
              <div class="productName">[[${vo.name}]]</div>
              <div class="productPrice">[[${vo.price}]]</div>
              <input
                type="hidden"
                id="member_no"
                value="[[${member.member_no}]]"
              />
              <div id="btnBox">
                <span>
                  <button id="btnMinus">-</button>
                  <span id="count" th:data-amount="${vo.amount}">0</span>
                  <button id="btnPlus">+</button>
                </span>
              </div>
            </div>
            총상품금액
            <div id="allprice">0</div>
            <span>
              <a
                th:if="${userinfo != null}"
                id="btnInsertCart"
                th:data-product_id="${vo.product_id}"
                class="btn"
                >장바구니에 넣기</a
              >
              <a th:if="${userinfo == null}" id="notlogin" class="btn"
                >장바구니에 넣기</a
              >
              <a
                th:if="${userinfo != null}"
                id="btnDirectBuy"
                th:data-product_id="${vo.product_id}"
                class="btnBuy btn"
                >바로 구매하기</a
              >
              <a th:if="${userinfo == null}" id="notlogin2" class="btn"
                >바로 구매하기</a
              >
            </span>
          </div>
        </div>
      </div>
      <form action="order/page" method="post" id="cartinsert">
        <input type="hidden" name="product_id" />
        <input type="hidden" name="amount" />
      </form>
      <!-- 제품상세, 리뷰, QnA추가 필요 -->
      <button id="btnproductdetail">제품상세</button>
      <button id="btnreview">리뷰</button>
      <button id="btnqna">QnA</button>
      <div id="detailcontent"></div>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
    <script src="/js/cocofarm.js"></script>
  </body>
  <script>
    const btnproductdetail = document.querySelector("#btnproductdetail");
    const btnreview = document.querySelector("#btnreview");
    const btnqna = document.querySelector("#btnqna");
    const detailcontent = document.querySelector("#detailcontent");

    btnproductdetail.addEventListener("click", () => {
      let product_id = btnInsertCart.getAttribute("data-product_id");
      console.log(product_id);
      const data = {
        product_id: product_id,
      };
      sendServerData(
        "POST",
        "/product/productdetailcontent",
        "application/json",
        JSON.stringify(data),
        function (data) {
          detailcontent.innerHTML = data;
        }
      );
    });
    btnreview.addEventListener("click", () => {
      let product_id = btnInsertCart.getAttribute("data-product_id");
      const data = {
        product_id: product_id,
      };
      sendServerData(
        "POST",
        "/product/reviewcontent",
        "application/json",
        JSON.stringify(data),
        function (data) {
          detailcontent.innerHTML = data;
        }
      );
    });
    btnqna.addEventListener("click", () => {
      let product_id = btnInsertCart.getAttribute("data-product_id");
      const data = {
        product_id: product_id,
      };
      sendServerData(
        "POST",
        "/product/qnacontent",
        "application/json",
        JSON.stringify(data),
        function (data) {
          detailcontent.innerHTML = data;
        }
      );
    });

    const btnMinus = document.querySelector("#btnMinus");
    const btnPlus = document.querySelector("#btnPlus");
    const countElement = document.querySelector("#count");
    const productPrice = document.querySelector(".productPrice");
    const allprice = document.querySelector("#allprice");
    const btnInsertCart = document.querySelector("#btnInsertCart");
    const btnDirectBuy = document.querySelector("#btnDirectBuy");
    const product_id = /*[[${vo.product_id}]]*/ "";
    const memberNo = document.querySelector("#member_no");
    const notlogin = document.querySelector("#notlogin");
    const notlogin2 = document.querySelector("#notlogin2");
    let count = 0;

    var totalPrice = function (id, price, count) {
      const totalPrice = Number(price) * Number(count);
      id.textContent = totalPrice;
    };

    btnMinus.addEventListener("click", () => {
      count = countElement.textContent;
      if (count < 1) {
        alert("1개 이상 선택하세요.");
        return false;
      }
      count--;
      countElement.textContent = count;

      totalPrice(allprice, productPrice.textContent, count);
    });
    console.log(countElement);
    btnPlus.addEventListener("click", () => {
      count = countElement.textContent;
      let amount = countElement.getAttribute("data-amount");
      count = Number(count);
      amount = Number(amount);
      if (count > amount - 1) {
        alert("재고가 없습니다.");
      } else {
        count++;
        countElement.textContent = count;
      }
      totalPrice(allprice, productPrice.textContent, count);
    });

    if (btnInsertCart) {
      btnInsertCart.addEventListener("click", () => {
        if (count <= 0) {
          alert("수량을 추가해주세요.");
          return false;
        }
        let product_id = btnInsertCart.getAttribute("data-product_id");
        const data = {
          product_id: product_id,
          amount: count,
        };
        sendServerData(
          "POST",
          "/cartinsert",
          "application/json",
          JSON.stringify(data),
          function (data) {
            data = JSON.parse(data);
            if ((data.status = "OK")) {
              if (
                confirm(
                  "장바구니로 가시려면 확인 페이지에 남으시려면 취소를 선택해주세요."
                )
              ) {
                //alert("장바구니 가기");
                //장바구니 이동 페이지 필요
                location.href = "cart";
              } else {
              }
            }
          }
        );

        //   const xhr = new XMLHttpRequest();
        //   xhr.onload = function () {
        //     if (xhr.status === 200) {
        //       // 요청이 성공적으로 완료됐을 때 실행할 코드
        //       var response = xhr.responseText;
        //       var a = JSON.parse(response);

        //       if (a.status == "OK") {
        //         if (
        //           confirm(
        //             "장바구니로 가시려면 확인 페이지에 남으시려면 취소를 선택해주세요."
        //           )
        //         ) {
        //           alert("장바구니 가기");
        //           //장바구니 이동 페이지 필요
        //         } else {
        //         }
        //       }
        //       console.log(response);
        //     } else {
        //       // 요청이 실패했을 때 실행할 코드
        //       console.error("Request failed. Status code: " + xhr.status);
        //     }
        //   };
        //   var postData = JSON.stringify(data);

        //   // 서버에 POST 요청 보내기
        //   xhr.open("POST", "/cartinsert", true);
        //   xhr.setRequestHeader("Content-Type", "application/json");
        //   xhr.send(postData);
      });
    }
    if (notlogin) {
      notlogin.addEventListener("click", () => {
        if (
          confirm(
            "로그인이 필요한 서비스 입니다. 로그인을 원하시면 확인을 눌러주세요."
          )
        ) {
          location.href = "/member/login";
        } else {
          M.toast({ html: "로그인이 필요한 서비스 입니다." });
        }
      });
    }

    //바로구매 버튼 처리
    if (btnDirectBuy) {
      btnDirectBuy.addEventListener("click", () => {
        if (count <= 0) {
          alert("수량을 추가해주세요.");
          return false;
        }
        let product_id = btnInsertCart.getAttribute("data-product_id");
        const data = {
          product_id: product_id,
          amount: count,
        };
        var cartinsert = document.querySelector("#cartinsert"); //폼태그
        //페이지바꾸기

        var newContent = document.createTextNode("내용물을 추가합니다.");
        cartinsert.appendChild(newContent);

        // let formData = new FormData();
        // formData.append("product_id", product_id);
        // formData.append("amount", count);

        // console.log(formData.get("product_id"));
        // console.log(formData.get("amount"));

        cartinsert.product_id.value = product_id;
        cartinsert.amount.value = count;
        cartinsert.submit();

        // let expandingList = document.createElement("ul", {
        //   is: "expanding-list",
        // });
        // cartinsert.appendChild(expandingList);
        // console.log(document.querySelector("#expanding-list"));

        // fetch("/order/page", {
        //   method: "POST",
        //   headers: {
        //     "Content-Type": "application/json",
        //   },
        //   body: JSON.stringify(FormData),
        // });

        // const xhr = new XMLHttpRequest();
        // xhr.open("POST", "/order/page", true);
        // xhr.setRequestHeader("Content-Type", "application/json");
        // xhr.send(JSON.stringify(formData));
      });
    }
    if (notlogin2) {
      notlogin2.addEventListener("click", () => {
        if (
          confirm(
            "로그인이 필요한 서비스 입니다. 로그인을 원하시면 확인을 눌러주세요."
          )
        ) {
          location.href = "/member/login";
        } else {
          M.toast({ html: "로그인이 필요한 서비스 입니다." });
        }
      });
    }

    //     const buyData = {
    //       member_no: memberNo,
    //       product_id: product_id,
    //       count: count,
    //       price: productPrice,
    //     };
    //     xhr.open("POST", "/order", true);
    //     xhr.setRequestHeader("Content-Type", "application/json");
    //     xhr.onreadystatechange = function () {
    //       if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
    //         // 주문 추가 성공 처리
    //         console.log("주문이 성공적으로 추가되었습니다.");
    //       } else {
    //         // 주문 추가 실패 처리
    //         console.error("주문 추가가 실패하였습니다.");
    //       }
    //     };
    //     xhr.send(JSON.stringify(buyData));
    //   })
    // );
  </script>
</html>
