<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" /> <!-- API30이상에서는 queries사용해서 권한부여를 한번 더 해야함. -->
    <queries>

        <!-- WebView -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cocofarm"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".order.Order_Refund_CheckActivity"
            android:exported="false" />
        <activity
            android:name=".order.Order_RefundActivity"
            android:exported="false" />
        <activity
            android:name=".order.Order_Change_CheckActivity"
            android:exported="false" />
        <activity
            android:name=".order.Order_ChangeActivity"
            android:exported="false" />
        <activity
            android:name=".order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".order.Cart_PopupActivity"
            android:name=".mypage.MpAddressActivity"
            android:exported="false" />
        <activity
            android:name=".board.BoardImageSelectActivity"
            android:exported="false" />
        <activity
            android:name=".board.QnAModifyActivity"
            android:exported="false" />
        <activity
            android:name=".board.QnAReadActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- <activity -->
        <!-- android:name=".Order_FinishActivity" -->
        <activity
            android:name=".order.Order_FinishActivity"
            android:name=".mypage.AwayConfirmActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.AwayRemoveActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.AwayActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.CsCenterActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.AmModifyActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.AmConfirmActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.AboutMeActivity"
            android:exported="false" />
        <activity
            android:name=".order.Order_ContentActivity"
            android:exported="false" />
        <activity
            android:name=".board.QnAWriteActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".board.BoardReadActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".board.BoardModifyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".board.BoardWriteActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".order.CartActivity"
            android:exported="false" />
        <activity
            android:name=".product.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".member.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".member.BannedActivity"
            android:exported="false" />
        <activity
            android:name=".member.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!-- Kakao -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao73eaa0878647dc013752cd7b307750b3" />
            </intent-filter>
        </activity>
    </application>

</manifest>