<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocofarm.webpage.mapper.BoardMapper">
    <select id="getTotal" resultType="int">
    select  count(*)
    from    tbl_board
    where   board_category_cd = #{code}
    <if test="code != 203">
    and     title like '%'||#{keyword}||'%'</if>
    <if test="productId != 0">
    and     product_id = #{productId}</if>
    </select>
    <select id="selectList" resultType="com.cocofarm.webpage.domain.BoardVO">
    <![CDATA[ 
    select * from (
        select rownum as rn, a.* from (
            select  b.*, coalesce(r.replycnt, 0) as replycnt
            from    tbl_board b
                    left join (
                    select board_no, count(*) as replycnt
                    from tbl_reply
                    group by board_no ) r on b.board_no = r.board_no
            where   board_category_cd = #{code}
            and     title like '%'||#{keyword}||'%'
            order by b.board_no desc ) a
        order by rownum )
    where   rn <= #{page} * #{boardPerPage}
    and     rn > (#{page}-1) * #{boardPerPage}
    ]]>
    </select>
    <select id="selectQnaList" resultType="com.cocofarm.webpage.domain.QnaDTO">
    <![CDATA[
    select * from (
        select rownum as rn, a.* from (   
            select  b.*, p.name product_name, p.content product_content, coalesce(r.replycnt,0) as replycnt
            from    tbl_board b
                    left join tbl_product p on b.product_id = p.product_id
                    left join (
                    select board_no, count(*) as replycnt
                    from tbl_reply
                    group by board_no ) r on b.board_no = r.board_no
            where   board_category_cd = 201
            and     title like '%'||#{keyword}||'%' ]]>
            <if test="productId != 0"> 
            and     p.product_id = #{productId} </if><![CDATA[
            order by b.board_no desc ) a
        order by rownum )
    where rn <= #{page} * #{boardPerPage}
    and rn > (#{page}-1) * #{boardPerPage}
    ]]>
    </select>
    <select id="selectReviewList" resultType="com.cocofarm.webpage.domain.QnaDTO">
    <![CDATA[
    select * from (
        select rownum as rn, a.* from (   
            select  b.*, p.name product_name, p.content product_content, coalesce(r.replycnt,0) as replycnt
            from    tbl_board b
                    left join tbl_product p on b.product_id = p.product_id
                    left join (
                    select board_no, count(*) as replycnt
                    from tbl_reply
                    group by board_no ) r on b.board_no = r.board_no
            where   board_category_cd = 203 ]]>
            <if test="productId != 0">
            and p.product_id = #{productId} </if><![CDATA[
            order by b.board_no desc ) a
        order by rownum )
    where rn <= #{page} * #{boardPerPage}
    and rn > (#{page}-1) * #{boardPerPage}
    ]]>
    </select>
    <select id="selectNoAnsweredQnaList" resultType="com.cocofarm.webpage.domain.QnaDTO">
    <![CDATA[
    select rownum as rn, a.* from (   
        select b.*, p.name product_name, p.content product_content, coalesce(r.replycnt,0) as replycnt
        from    tbl_board b
                left join tbl_product p on b.product_id = p.product_id
                left join (
                select board_no, count(*) as replycnt
                from tbl_reply
                group by board_no ) r on b.board_no = r.board_no
        where   board_category_cd = 201
        and     r.replycnt is null
        order by b.board_no asc ) a
    where   rownum <= 50
    order by rownum
    ]]>
    </select>
    <select id="selectboard" resultType="com.cocofarm.webpage.domain.BoardVO">
    select  *
    from    tbl_board
    where   board_no = #{board_no}
    </select>

    <select id="selectqna" resultType="com.cocofarm.webpage.domain.QnaDTO">
    select  b.*, p.name product_name, p.content product_content
    from    tbl_board b
            left join tbl_product p on b.product_id = p.product_id
    where   board_no = #{board_no}
    </select>
    <insert id="insert" parameterType="com.cocofarm.webpage.domain.BoardVO">
    insert into tbl_board (
        board_no, member_no, nickname, board_category_cd, product_id,
        title, content, regdate, upddate, mainimage )
    values  (
        seq_board_no.nextval, #{member_no}, #{nickname}, #{board_category_cd}, #{product_id},
        #{title}, #{content}, sysdate, sysdate, #{mainimage})
    </insert>
    <update id="update" parameterType="com.cocofarm.webpage.domain.BoardVO">
    update  tbl_board
    set     product_id = #{product_id},
            title = #{title},
            content = #{content},
            upddate = sysdate,
            mainimage = #{mainimage}
    where   board_no = #{board_no}
    </update>
    <delete id="delete">
    delete from tbl_board
    where   board_no = #{board_no}
    </delete>

    <select id="eventBanner" resultType="com.cocofarm.webpage.domain.BoardVO">
    select  *
    from    tbl_board
    where   board_category_cd = #{board_category_cd}
    order by board_no desc
    </select>
</mapper>