<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocofarm.webpage.mapper.CartMapper">
    <insert id="insert" parameterType="com.cocofarm.webpage.domain.CartDTO">
insert into tbl_cart values (seq_board_no.nextval, #{member_no},#{product_id}, #{amount})
    </insert>

    <select id="selectCartList" parameterType="com.cocofarm.webpage.domain.CartDTO">
     select c.*, pp.name as product_name, pp.price as product_price, pp.filename as product_image
    from tbl_cart c
    inner join (select p.product_id, p.name, p.price, min(i.filename) as filename
                from tbl_image i inner join tbl_product p on (p.product_id = i.product_id)
                group by p.product_id, p.name, p.price) pp on c.product_id = pp.product_id
    where member_no = #{member_no}
    </select>
</mapper>
