<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocofarm.webpage.mapper.ImageMapper">

    <select id="selectImageList" resultType="com.cocofarm.webpage.domain.ImageDTO"> select * from
        tbl_image where isusing = 'Y' and product_id = 0 </select>
    <select id="selectProductImageList" resultType="com.cocofarm.webpage.domain.ImageDTO"> select
        min(i.filename) filename, p.name product_name from tbl_image i left join tbl_product p on
        i.product_id = p.product_id where i.product_id != 0 group by i.product_id, p.name </select>

</mapper>