<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocofarm.webpage.mapper.ImageMapper">

    <select id="selectImageList" resultType="com.cocofarm.webpage.domain.ImageDTO"> select * from
        tbl_image where isusing = 'Y' and product_id = 0 </select>

    <!-- 세진's : 상품 하나(product_id)에 이미지 다 불러오기 -->
    <select id="selectAllImageWithProductId" resultType="com.cocofarm.webpage.domain.ImageDTO">
    select i.*
    from tbl_image i
    where product_id = #{product_id}
    </select>




</mapper>