<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocofarm.webpage.mapper.MemberMapper">

    <select id="login" resultType="com.cocofarm.webpage.domain.MemberVO">
select * from TBL_MEMBER where EMAIL = #{email} and PASSWORD = #{password}
    </select>

    <insert id="join">
insert into TBL_MEMBER (member_no, member_type_cd, email, password, nickname, phonenumber, address, joindate, isactivated, sns)
values (seq_member_no.nextval, 102, #{email}, #{password}, #{nickname}, #{phonenumber}, #{address}, sysdate, 'Y', #{sns})
    </insert>

    <select id="email_search">
select count(*)
from TBL_MEMBER
where EMAIL = #{email}
    </select>

    <select id="sns_login" resultType="com.cocofarm.webpage.domain.MemberVO">
select *
from TBL_MEMBER
where EMAil = #{email}
    </select>

    <update id="pw_modify">
update tbl_member
set password = #{password}
where email = #{email}
    </update>

    <update id="am_modify">
update tbl_member
set nickname = #{nickname}, password = #{password}, phonenumber = #{phonenumber}, address = #{address}
where email = #{email}
    </update>

    <select id="myboard_list" resultType="com.cocofarm.webpage.domain.BoardVO">
select *
from tbl_board
where  member_no = #{member_no}
and regdate BETWEEN to_char(add_months(sysdate,-1),'yyyy-mm-dd') and sysdate
order by regdate desc
    </select>

    <update id="web_modify">
update tbl_member
set nickname = #{nickname}, phonenumber = #{phonenumber}, address = #{address}
where email = #{email}
    </update>

    <delete id="away">
delete from tbl_member
where email = #{email}
    </delete>

    <select id="myboard" resultType="com.cocofarm.webpage.domain.QnaDTO">
select *
from tbl_board
where member_no = #{member_no} and board_category_cd = 201
order by board_no desc
    </select>

    <!-- 내가 쓴 리뷰 보기. -->
    <select id="myreviewboard" resultType="com.cocofarm.webpage.domain.BoardVO">
select b.board_no, b.member_no, b.product_id, b.nickname, b.regdate, b.upddate, b.content, p.name as title, b.mainimage
from tbl_board b 
join tbl_product p on b.product_id = p.product_id
where member_no = #{member_no} and board_category_cd = 203
order by board_no desc 
    </select>



<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
    <!-- 이 아래부터 Admin 기능 -->

    <select id="memberListAll" resultType="com.cocofarm.webpage.domain.MemberVO">
    <![CDATA[
select *
from (
select rownum as rn, a.*
from (
select *
from tbl_member
where member_type_cd = 102
and (email like '%'||#{keyword}||'%'
or nickname like '%'||#{keyword}||'%')
order by member_no asc
) a
)
where rn <= #{page} * #{boardPerPage}
and rn > (#{page}-1) * #{boardPerPage}
]]>
    </select>
    
    <select id="memberListBanned" resultType="com.cocofarm.webpage.domain.MemberVO">
select *
from tbl_member
where isactivated = 'N'
and (email like '%'||#{keyword}||'%'
or nickname like '%'||#{keyword}||'%')
order by member_no asc
    </select>

    <select id="countAll">
select count(*)
from tbl_member
where member_type_cd = '102'
and (email like '%'||#{keyword}||'%'
or nickname like '%'||#{keyword}||'%')
    </select>

    <select id="countBanned">
select count(*)
from tbl_member
where isactivated = 'N'
and (email like '%'||#{keyword}||'%'
or nickname like '%'||#{keyword}||'%')
    </select>

    <update id="banned"> 
update tbl_member
set isactivated = #{isactivated}
where email = #{email}
    </update>
    
    <!-- <select id="getListPaging" resultType="com.cocofarm.webpage.domain.MemberVO">
    <![CDATA[
        select *
        from(       
            select *              
            from tbl_member
            where rownum <= #{page} * #{boardPerPage}
    ]]>            
       <if test="keyword != null">
        and email like '%'||#{keyword}||'%' 
       </if>
    <![CDATA[   
    )           
        where rownum > (#{page}-1) * #{boardPerPage}
    ]]>
    </select> -->

</mapper>