<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocofarm.webpage.mapper.MemberMapper">

<select id="login" resultType="com.cocofarm.webpage.domain.MemberVO">
select * from TBL_MEMBER where EMAIL = #{email} and PASSWORD = #{password}
</select>

<insert id="join">
insert into TBL_MEMBER (member_no, member_type_cd, email, password, nickname, phonenumber, address, joindate, isactivated, sns)
values (seq_member_no.nextval, 102, #{email}, #{password}, #{nickname}, #{phonenumber}, #{address}, sysdate, 'Y', #{sns})
</insert>

<select id="email_search">
select count(*)
from TBL_MEMBER
where EMAIL = #{email}
</select>

<select id="sns_login" resultType="com.cocofarm.webpage.domain.MemberVO">
select *
from TBL_MEMBER
where EMAil = #{email}
</select>

<update id="am_modify">
update tbl_member
set nickname = #{nickname}, password = #{password}, phonenumber = #{phonenumber}, address = #{address}
where email = #{email}
</update>

<delete id="away">
delete from tbl_member
where email = #{email}
</delete>

<select id="myboard" resultType="com.cocofarm.webpage.domain.QnaDTO">
select *
from tbl_board
where member_no = #{member_no}
order by board_no desc
</select>

</mapper>