<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocofarm.webpage.mapper.OrderMapper">
    <insert id="OrderInsert" parameterType="com.cocofarm.webpage.domain.OrderVO">
         insert into tbl_order values (#{order_id},#{member_no},#{orderdate},#{price},#{address},301)        
    </insert>
    <insert id="OrderProductInsert" parameterType="com.cocofarm.webpage.domain.OrderVO">
        insert into TBL_ORDERPRODUCT(orderproduct_id, order_id, product_id, member_no, amount, price, order_status_cd)
        select seq_orderproduct_id.nextval, order_id, product_id, member_no, amount, product_price , order_status_cd
        from (
        <foreach collection="orderProductVOList" item="item" separator="union all" close=""> 
        select  #{order_id} as order_id, #{item.product_id} as product_id, #{item.member_no} as member_no, #{item.amount} as amount, #{item.product_price} as product_price,
        301 as order_status_cd
        from dual
        </foreach>
        )
    </insert>

    <!-- 주문목록중에 하나만 -->
    <select id="OrderProductOne" parameterType="com.cocofarm.webpage.domain.OrderVO">
    select op.product_id, op.order_id, o.member_no, o.orderdate, o.order_status_cd, op.price, op.amount, op.order_status_cd, cd.value, im.filename, p.name 
from tbl_orderproduct op
join tbl_order o on op.order_id = o.order_id
join (select code, value from tbl_code where codetype='ORDER_STATUS')cd on op.order_status_cd = cd.code
left outer join (select product_id, min(filename)as filename from tbl_image group by product_id )im on op.product_id = im.product_id
join (select name, product_id from tbl_product)p on op.product_id = p.product_id
where o.order_id = #{order_id}
    </select>



    <!-- orderproduct주문목록 상태변경 -->
    <update id = "OrderProductStatusUpdate">
   update tbl_orderproduct set order_status_cd = #{order_status_cd} where orderproduct_id = #{orderproduct_id} and member_no = #{member_no}
    </update>

    <!-- 교환환불 처리 -->
    <insert id="ChangeAndRefundInsert">
insert into tbl_changeandrefund(changeandrefund_id,orderproduct_id, candrdate, reasoncode, textreason, order_status_cd, member_no) values
(seq_changeandrefund_id.nextval,#{orderproduct_id},sysdate,#{reasoncode}, #{textreason, jdbcType=VARCHAR},#{order_status_cd},#{member_no})
    </insert>

    <!-- 리뷰쓰기페이지 상품이미지, 이름 보여주기. -->
    <select id="OrderProductReviewWritePage" parameterType="com.cocofarm.webpage.domain.OrderProductVO">
        select o.orderproduct_id, p.name, i.filename
        from tbl_orderproduct o 
        join tbl_product p on o.product_id = p.product_id
        join(select product_id, min(filename)as filename from tbl_image group by product_id)i on o.product_id = i.product_id
        where o.orderproduct_id = #{orderproduct_id}
    </select>

    <!-- 주문 목록에서 리뷰 읽기 -->
    <select id="selectreviewboard" resultType="com.cocofarm.webpage.domain.BoardVO"> 
        select * 
        from tbl_board 
        where orderproduct_id = #{orderproduct_id} 
    </select>


    <resultMap id="ordermap" type="com.cocofarm.webpage.domain.OrderProductDTO">
        <id property="order_id" column="order_id" />
        <id property="member_no" column="member_no" />

        <collection property="orderproduct_list" column="{order_id=order_id,member_no=member_no}" select="MyOrderProductList"/>
        <!-- <collection property="orderproduct_list" column="order_id" select="MyOrderProductList"/> -->
    </resultMap>

    <!-- 내 주문목록 부르기 -->
    <select id = "MyOrderList" resultMap="ordermap">
    select o.order_id, o.member_no, o.orderdate, o.price, o.address, o.order_status_cd, c.value
    from tbl_order o
    join (select code , value from tbl_code where codetype = 'ORDER_STATUS')c on o.order_status_cd = c.code
    where member_no = #{member_no}
    order by orderdate desc
    </select>

    <select id="MyOrderProductList" resultType="com.cocofarm.webpage.domain.OrderProductVO">
        <![CDATA[  
    select op.orderproduct_id, op.product_id, op.order_id, o.member_no, o.orderdate, op.order_status_cd, op.price, op.amount, cd.value, im.filename, p.name, b.checkreview
        
    from 
        tbl_orderproduct op
        join tbl_order o on op.order_id = o.order_id 
        join (select code, value from tbl_code where codetype='ORDER_STATUS')cd on op.order_status_cd = cd.code
        left outer join (select product_id, min(filename)as filename from tbl_image group by product_id )im on op.product_id = im.product_id
        join (select name, product_id from tbl_product)p on op.product_id = p.product_id
        left outer join (select orderproduct_id, count(*) as checkreview from tbl_board  where board_category_cd =203 and member_no =#{member_no} group by orderproduct_id ) b on op.orderproduct_id = b.orderproduct_id
    WHERE
        o.order_id = #{order_id}
    ORDER BY
        op.orderproduct_id DESC
    ]]>
    </select>


    <select id = "MyOrder" parameterType="com.cocofarm.webpage.domain.OrderDTO">
    select o.order_id, o.member_no, o.orderdate, o.price, o.address, o.order_status_cd, c.value
        from tbl_order o
        join (select code , value from tbl_code where codetype = 'ORDER_STATUS')c on o.order_status_cd = c.code
        where member_no = #{member_no}
        order by orderdate desc
    </select>

    <resultMap id="orderdetailmap" type="com.cocofarm.webpage.domain.OrderProductDTO">
        <id property="order_id" column="order_id" />
        <id property="member_no" column="member_no" />

        <collection property="orderproduct_list" column="{order_id=order_id,member_no=member_no}" select="MyOrderProductList"/>
        <!-- <collection property="orderproduct_list" column="order_id" select="MyOrderProductList"/> -->
    </resultMap>

    <!-- 내 주문목록 부르기 -->
    <select id = "MyOrderDetail" resultMap="orderdetailmap">
    select o.order_id, o.member_no, o.orderdate, o.price, o.address, o.order_status_cd, c.value
    from tbl_order o
    join (select code , value from tbl_code where codetype = 'ORDER_STATUS')c on o.order_status_cd = c.code
    where member_no = #{member_no} and order_id = #{order_id}
    order by orderdate desc
    </select>



</mapper>


