<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocofarm.webpage.mapper.ReplyMapper">
    <select id="selectList" resultType="com.cocofarm.webpage.domain.ReplyVO"> select * from
        tbl_reply where board_no = #{board_no} </select>
    <insert id="insert" parameterType="com.cocofarm.webpage.domain.ReplyVO"> insert into tbl_reply
        values (seq_reply_no.nextval, #{member_no}, #{board_no}, #{content}, sysdate, sysdate) </insert>
    <update id="update" parameterType="com.cocofarm.webpage.domain.ReplyVO"> update tbl_reply set
        content = #{content}, upddate = sysdate where board_no = #{board_no} </update>
    <delete id="delete"> delete from tbl_reply where reply_no = #{reply_no} </delete>
    <delete id="deleteAll"> delete from tbl_reply where board_no = #{board_no} </delete>
</mapper>