<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <style>
      main {
        display: flex;
      }
      main .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
      }
      #msg {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <main>
      <div class="container">
        <p id="msg">비정상적인 접근으로 확인/기록되었습니다.</p>
      </div>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
  </body>
</html>
