<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <main>
      <div class="container">
        <form th:action="@{/write}" method="post">
          <input name="title" type="text" placeholder="제목" />
          <textarea name="content" cols="30" rows="10" placeholder="내용..."></textarea>
        </form>
      </div>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
  </body>
</html>
