<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <link rel="stylesheet" th:href="@{/css/board/boardlist.css}" />
  </head>
  <body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <main>
      <div class="container">
        <table>
          <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>작성일</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="board : ${boardlist}">
              <td th:text="${board.rn}">번호</td>
              <td th:text="${board.title}">제목</td>
              <td th:text="${#dates.format(board.regdate, (board.regdate.time < #calendars.createNow().timeInMillis - 86400000) ? 'yyyy/MM/dd' : 'HH:mm:ss')}"></td>
            </tr>
          </tbody>
        </table>
        <a th:href="@{/board/write}" role="button">글 쓰기</a>
        <div class="grid" id="page">
          <a href="#" role="button">&laquo;</a>
          <th:block th:if="pager.prev">
            <a href="#" role="button">&lsaquo;</a>
          </th:block>
          <th:block th:if="pager.next">
            <a href="#" role="button">&rsaquo;</a>
          </th:block>
          <a href="#" role="button">&raquo;</a>
        </div>
      </div>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
  </body>
</html>
