<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <link rel="stylesheet" href="/css/board/boardread.css" />
  </head>
  <body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <main>
      <div class="container">
        <div style="display: flex; justify-content: space-between; padding: 10px; padding-bottom: 0">
          <div id="btnBox">
            <button id="btnList" class="btn">목록으로</button>
            <th:block th:if="${userinfo != null && userinfo.member_type_cd == 101}">
              <button id="btnModify" class="btn blue">수정</button>
              <button id="btnDelete" class="btn red">삭제</button>
            </th:block>
          </div>
          <button th:if="${userinfo != null}" id="btnReportBoard" class="btn red waves-effect waves-red modal-trigger" href="#reportModal">신고</button>
        </div>
        <section class="z-depth-1">
          <h5 th:text="${boardvo.title}"></h5>
          <div id="titlebox">
            <span th:text="${#dates.format(boardvo.regdate,'yyyy/MM/dd HH:mm:ss')}"></span>
            <small th:if="${boardvo.regdate != boardvo.upddate}" style="color: #aaa" th:text="${#dates.format(boardvo.upddate,'yyyy/MM/dd HH:mm:ss')}+' 에 수정됨'"></small>
          </div>
          <div id="hr"></div>
          <img id="mainimage" class="responsive-img" th:src="'/images/'+${boardvo.mainimage}" alt="메인 이미지" />
          <textarea class="materialize-textarea" style="border-bottom: 0 !important;" readonly th:text="${boardvo.content}"></textarea>
        </section>
        <section class="z-depth-1">
          <h6>댓글</h6>
          <div th:if="${userinfo!=null}" data-method="write" id="replyForm" data-isopen="false" class="z-depth-1">
            <textarea id="replyContent" class="materialize-textarea" type="text" placeholder="여기에 댓글 입력"></textarea>
          </div>
          <button th:if="${userinfo!=null}" id="btnReplyConfirm" class="btn">확인</button>
          <button th:if="${userinfo!=null}" id="btnReply" class="btn">댓글 쓰기</button>
          <div id="replyList"></div>
        </section>
      </div>
    </main>
    <div id="reportModal" class="modal">
      <div class="modal-content">
        <h4>신고</h4>
        <span style="font-weight: bold">게시물 유형 :&nbsp;</span>
        <span id="reportType"></span>&nbsp;&nbsp;
        <span style="font-weight: bold">번호 : </span>
        <span id="reportNo"></span>&nbsp;&nbsp;
        <span style="font-weight: bold">작성자 : </span>
        <span id="reportedNickname"></span>
        <form action="#">
          <p>
            <label>
              <input class="with-gap" data-cd="511" name="report" type="radio" checked />
              <span>영리목적/홍보성</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" data-cd="512" name="report" type="radio" />
              <span>개인정보 노출</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" data-cd="513" name="report" type="radio" />
              <span>불법정보</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" data-cd="514" name="report" type="radio" />
              <span>음란성/선정성</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" data-cd="515" name="report" type="radio" />
              <span>욕설/인신공격</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" data-cd="516" name="report" type="radio" />
              <span>아이디/DB 거래</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" data-cd="517" name="report" type="radio" />
              <span>같은 내용 반복(도배)</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" data-cd="518" name="report" type="radio" />
              <span>기타</span>
            </label>
          </p>
        </form>
        <div class="input-field">
          <textarea id="reportContent" class="materialize-textarea" placeholder="자세한 내용을 적어주세요."></textarea>
          <label for="reportContent">상세사유</label>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btnReportConfirm" class="waves-effect waves-green btn-flat">신고</button>
      </div>
    </div>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script th:inline="javascript">
      const board_no = /*[[${boardvo.board_no}]]*/ "";
      const board_nickname = /*[[${boardvo.nickname}]]*/ "";
      const board_memberno = /*[[${boardvo.member_no}]]*/ "";
    </script>
    <script src="/js/board/boardread.js"></script>
  </body>
</html>
