<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <link rel="stylesheet" href="/css/board/boardread.css" />
  </head>
  <body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <main>
      <div class="container">
        <div style="display: flex; justify-content: space-between; padding: 10px; padding-bottom: 0">
          <div id="btnBox">
            <button id="btnList" class="btn">목록으로</button>
            <button th:if="${userinfo != null && (userinfo.member_type_cd == 101 || userinfo.member_no == qnadto.member_no)}" id="btnDelete" class="btn red">삭제</button>
          </div>
          <button th:if="${userinfo != null}" id="btnReportBoard" class="btn red waves-effect waves-red modal-trigger" href="#reportModal">신고</button>
        </div>
        <section class="z-depth-1">
          <h5 th:text="${qnadto.title}"></h5>
          <div id="titlebox">
            <span style="margin: 0; margin-right: 10px; font-weight: bold" th:text="${qnadto.nickname}"></span>
            <span th:text="${#dates.format(qnadto.regdate,'yyyy/MM/dd HH:mm:ss')}"></span>
          </div>
          <div id="hr"></div>
          <div id="productBox" th:if="${qnadto.product_id != 0}">
            <img id="productImage" class="responsive-img" th:src="'/images/'+${qnadto.mainimage}" alt="메인 이미지" />
            <div>
              <h6 th:text="${qnadto.product_name}"></h6>
              <p id="productContent" th:text="${qnadto.product_content}"></p>
            </div>
          </div>
          <p th:text="${qnadto.content}"></p>
        </section>
        <section class="z-depth-1">
          <h6>답변</h6>
          <div th:if="${userinfo!=null && userinfo.member_type_cd==101}" id="answerForm" data-isopen="false" class="z-depth-1">
            <textarea id="answerContent" class="materialize-textarea" type="text" placeholder="여기에 답변 입력"></textarea>
          </div>
          <button th:if="${userinfo!=null && userinfo.member_type_cd==101 && qnadto.answer==null}" id="btnAnswerConfirm" class="btn">확인</button>
          <button th:if="${userinfo!=null && userinfo.member_type_cd==101 && qnadto.answer==null}" id="btnAnswer" class="btn">답변 쓰기</button>
          <p id="answer" class="grey-text">답변을 준비중입니다</p>
        </section>
      </div>
    </main>
    <div id="reportModal" class="modal">
      <div class="modal-content">
        <h4>신고</h4>
        <span style="font-weight: bold">게시물 유형 :&nbsp;</span>
        <span id="reportType"></span>&nbsp;&nbsp;
        <span style="font-weight: bold">번호 : </span>
        <span id="reportNo"></span>&nbsp;&nbsp;
        <span style="font-weight: bold">작성자 : </span>
        <span id="reportedNickname"></span>
        <form action="#">
          <p>
            <label>
              <input class="with-gap" data-cd="511" name="report" type="radio" checked />
              <span>영리목적/홍보성</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" data-cd="512" name="report" type="radio" />
              <span>개인정보 노출</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" data-cd="513" name="report" type="radio" />
              <span>불법정보</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" data-cd="514" name="report" type="radio" />
              <span>음란성/선정성</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" data-cd="515" name="report" type="radio" />
              <span>욕설/인신공격</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" data-cd="516" name="report" type="radio" />
              <span>아이디/DB 거래</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" data-cd="517" name="report" type="radio" />
              <span>같은 내용 반복(도배)</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" data-cd="518" name="report" type="radio" />
              <span>기타</span>
            </label>
          </p>
        </form>
        <div class="input-field">
          <textarea id="reportContent" class="materialize-textarea" placeholder="자세한 내용을 적어주세요."></textarea>
          <label for="reportContent">상세사유</label>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btnReportConfirm" class="waves-effect waves-green btn-flat">신고</button>
      </div>
    </div>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
  </body>
  <script th:inline="javascript">
    const btnList = document.querySelector("#btnList");
    const btnDelete = document.querySelector("#btnDelete");
    const btnReportBoard = document.querySelector("#btnReportBoard");
    const btnAnswer = document.querySelector("#btnAnswer");
    const btnAnswerConfirm = document.querySelector("#btnAnswerConfirm");
    const answerContent = document.querySelector("#answerContent");
    const answer = document.querySelector("#answer");
    const board_no = /*[[${qnadto.board_no}]]*/ "";
    const board_nickname = /*[[${qnadto.nickname}]]*/ "";
    const board_memberno = /*[[${qnadto.member_no}]]*/ "";
    const reportType = document.querySelector("#reportType");
    const reportNo = document.querySelector("#reportNo");
    const reportedNickname = document.querySelector("#reportedNickname");
    const reportRadios = document.querySelectorAll("input[name='report']");
    const reportContent = document.querySelector("#reportContent");
    const btnReportConfirm = document.querySelector("#btnReportConfirm");
    const reportModal = M.Modal.init(document.querySelector("#reportModal"), {});

    onload = loadAnswer();
    btnList.addEventListener("click", () => {
      location.href = location.href.split("/").slice(0, 5).join("/");
    });
    if (btnDelete != null) {
      btnDelete.addEventListener("click", () => {
        if (confirm("삭제 후 되돌릴 수 없습니다. 정말 삭제하시겠습니까?")) {
          fetchJSON("/" + board_no + "/delete", null, (data) => {
            if (data == 1) {
              alert("삭제되었습니다.");
              history.back();
            } else {
              M.toast({ html: "삭제에 실패했습니다..." });
            }
          });
        }
      });
    }
    if (btnAnswer != null) {
      btnAnswer.addEventListener("click", toggleReplyBtn);
    }
    if (btnAnswerConfirm != null) {
      btnAnswerConfirm.addEventListener("click", () => {
        let content = answerContent.value;
        fetchJSON("/reply/write", { content: content, board_no: board_no }, (data) => {
          if (data == 1) {
            location.reload();
          } else {
            M.toast({ html: "답글 등록에에 실패했습니다." });
          }
        });
      });
    }
    function toggleReplyBtn() {
      if (answerForm.dataset.isopen == "false") {
        answerForm.style.display = "block";
        answerForm.dataset.isopen = "true";
        btnAnswerConfirm.style.display = "block";
        btnAnswer.classList.add("red");
        btnAnswer.innerHTML = "취소";
      } else {
        answerForm.style.display = "none";
        answerForm.dataset.isopen = "false";
        btnAnswerConfirm.style.display = "none";
        btnAnswer.classList.remove("red");
        btnAnswer.innerHTML = "답변 쓰기";
      }
    }
    function loadAnswer() {
      fetchJSON("/reply/getanswer", { board_no: board_no }, (data) => {
        if (data != "" || data != null) {
          answer.innerHTML = data.content;
          answer.classList.remove("grey-text");
        }
      });
    }

    if (btnReportBoard != null) {
      btnReportBoard.addEventListener("click", () => {
        reportType.innerHTML = "게시글";
        reportNo.innerHTML = board_no;
        reportedNickname.innerHTML = board_nickname;
        reportedNickname.dataset.memberNo = board_memberno;
      });
    }
    btnReportConfirm.addEventListener("click", () => {
      let reqBody = {
        reported_member: reportedNickname.dataset.memberNo,
        content: reportContent.value,
      };
      if (reportType.textContent == "게시글") {
        reqBody.reported_board = reportNo.textContent;
      } else if (reportType.textContent == "댓글") {
        reqBody.reported_board = board_no;
        reqBody.reported_reply = reportNo.textContent;
      }

      reportRadios.forEach((radio) => {
        if (radio.checked) {
          reqBody.reason_cd = radio.dataset.cd;
        }
      });
      console.log(reqBody);
      if (confirm("작성을 완료하시겠습니까?")) {
        fetchTEXT("/report", reqBody, (data) => {
          if (data == 1) {
            M.toast({ html: "신고되었습니다." });
            reportModal.close();
            reportContent.value = "";
          } else {
            M.toast({ html: "신고에 실패했습니다." });
          }
        });
      }
    });
  </script>
</html>
