<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <link rel="stylesheet" href="/css/adminhome.css" />
  </head>
  <body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <main>
      <div class="container">
        <section class="z-depth-1">
          <a class="link" th:href="@{/admin/product}">제품 관리로..</a>
        </section>
        <section class="z-depth-1">
          <a class="link" th:href="@{/admin/order}">주문/배송 관리로..</a>
        </section>
        <section class="z-depth-1">
          <a class="link" th:href="@{/admin/board}">게시판/QnA 관리로..</a>
          <h5 id="newQna">새 QnA</h5>
          <h5 id="reportedBoard">게시물 신고</h5>
        </section>
        <section class="z-depth-1">
          <a class="link" th:href="@{/admin/member}">고객 관리로..</a>
        </section>
      </div>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
      const newQna = document.querySelector("#newQna");
      const reportedBoard = document.querySelector("#reportedBoard");
      countNewQna();
      countReportBoard();

      function countNewQna() {
        newQna.innerHTML = "";
        fetchJSON("/admin/board/newqnalist", null, (data) => {
          if (data == null) {
            newQna.innerHTML = "새로 등록된 QnA가 없습니다.";
            return;
          }
          newQna.innerHTML = "새로 등록된 QnA : " + data.length + "개";
        });
      }

      function countReportBoard() {
        reportedBoard.innerHTML = "";
        fetchJSON("/admin/getreportlist", { category: "board" }, (data) => {
          if (data == null) {
            reportedBoard.innerHTML = "처리되지 않은 게시물 신고가 없습니다.";
            return;
          }
          reportedBoard.innerHTML = "처리되지 않은 게시물 : " + data.length + "건";
        });
      }
    </script>
  </body>
</html>
