.containerCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
.containerPlace {
    display: flex;
    align-items: center;
  }
  
  .leftPlace {
    margin-right: 20px; /* 원하는 간격 설정 */
  }
  
  .rightPlace {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .rightContent {
    font-size: large;
    margin: 20px; /* 원하는 간격 설정 */
  }
  