<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="footerFragment">
    <footer class="light-green lighten-4 page-footer z-depth-4">
      <div class="container row">
        <div class="container-fluid">
          <div class="col s12 m4 l4 xl2">
            <span class="footerTitle">QUICK</span>
            <br /><br />
            <a th:href="@{/board/notice}">공지사항</a>
            <br />
            <a th:href="@{/board/event}">이벤트</a>
            <br />
            <a th:href="@{/member/myinfo}">마이페이지</a>
            <br />
            <a th:href="@{/board/qna}">질문하기</a>
            <br />
            <a th:if="${userinfo != null}" th:href="@{/order/orderlist}"
              >내 주문내역</a
            >
            <a th:if="${userinfo == null}" th:href="@{/member/login}"
              >내 주문내역</a
            >
            <br />
            <a th:href="@{/board/review}">리뷰/후기</a>
          </div>
        </div>
        <div class="col s6 m4 l4 xl3">
          <div class="container-fluid">
            <span class="footerTitle">CONNECT</span>
            <br /><br />
            <span>
              제품구매 문의 062-123-4567
              <br />
              A/S문의 1577-1577
              <br /><br />
              평일 오전 10:00 - 오후 5:00
              <br />
              점심시간 오후 12:00 - 오후:1:00
              <br />
              토.일.공휴일 휴무
            </span>
          </div>
        </div>
        <div class="col s6 m4 l4 xl3">
          <div class="container-fluid">
            <span class="footerTitle"> BANK INFO </span>
            <br /><br />
            <span>
              한울은행 123-456789-01234
              <br />
              예금주 : (주)코코팜
              <br />
              <br />
              <a href="#" class="brand-logo center"
                ><img class="whitelogo" src="/images/logo_white.png"
              /></a>
            </span>
          </div>
        </div>
        <div class="col s12 m12 l12 xl4">
          <div class="container-fluid">
            <a th:href="@{/termsofuse}">이용약관</a>
            <span>|</span>
            <a th:href="@{/privacypolicy}">개인정보취급방침</a>
            <br /><br />
            <span>
              (주)코코팜&nbsp;&nbsp;대표 김영문&nbsp;&nbsp;TEL. 042-8282
              <br />
              사업자등록번호. 123-45-67890
              <br />
              주소. 광주광역시 서구 경열로 3 (농성동) 한울직업전문학교
              <br /><br />
              &copy;&nbsp;2023 코코팜 all rights reserved.
              <br /><br />
              '코코팜'은 등록상표가 아닙니다.
            </span>
          </div>
        </div>
      </div>
      <div class="fixed-action-btn">
        <a href="#" class="btn-floating btn-large red">
          <i class="large material-icons">vertical_align_top</i>
        </a>
      </div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    <script src="/js/default.js"></script>
  </th:block>
</html>
