<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="headerFragment">
    <header>
      <div class="container-fluid center-align" id="headerBanner">
        <img class="respons" src="/images/main-logo.png" />
      </div>
      <nav class="green container-fluid" id="headerNav">
        <div>
          <a>홈</a>
          <a>제품</a>
          <a>공지사항</a>
          <a>QnA</a>
        </div>
        <div>
          <a>마이페이지</a>
          <a>로그아웃</a>
        </div>
      </nav>
    </header>
  </th:block>
</html>

<!-- 피그마 계획 상단메뉴에 공지사항이라고 적혀있는데, 게시판으로 만들어야함-->
