<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="headerFragment">
    <header>
      <th:block th:if="${userinfo != null && userinfo.member_type_cd == 101}" th:replace="~{fragments/adminmenu :: adminmenuFragment}"></th:block>
      <div class="navbar-fixed">
        <nav>
          <div class="light-green darken-1 nav-wrapper headerNav" id="mainmenu">
            <a th:href="@{/}" class="brand-logo center"><img class="whitelogo" src="/images/logo_white.png" /></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a th:href="@{/}">홈</a></li>
              <li><a th:href="@{/product}">제품</a></li>
              <li><a th:href="@{/board/notice}">게시판</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a th:if="${userinfo != null}" th:href="@{/member/myinfo}">마이페이지</a></li>
              <li><a th:if="${userinfo == null}" th:href="@{/member/login}">마이페이지</a></li>
              <th:block>
                <li th:if="${userinfo == null}"><a id="btnHeaderLogin" href="/member/login">로그인</a></li>
                <li th:if="${userinfo != null}"><a id="btnHeaderLogout">로그아웃</a></li>
              </th:block>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  </th:block>
</html>
