<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="mypagesidebarFragment">

    <div class="container">
        <div class="grid">
            <div class="collection">
                <a href="/member/myinfo" class="collection-item">내 정보</a>
                <a href="/member/myboard" class="collection-item">내가 쓴 글</a>
                <a href="/member/mydevice" class="collection-item">내 기기</a>
                <a href="/member/cscenter" class="collection-item">고객 서비스</a>
                <a href="/member/away" class="collection-item">회원 탈퇴</a>
            </div>
        </div>
        <div class="row">
            <h5 id="menu-name2">메뉴 이름</h5>
  </th:block>
</html>
