<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/member/mypage.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <th:block th:replace="~{fragments/mypagetopbar :: mypagetopbarFragment}"></th:block>

    <div class="container">
        <th:block th:replace="~{fragments/mypagesidebar :: mypagesidebarFragment}"></th:block>
        <div class="row">
          <h5>회원 탈퇴</h5>
            <th:block th:replace="~{fragments/pwconfirm :: pwconfirmFragment}"></th:block>
            <a id="ok" onclick="onClickOk();">탈퇴하기 ></a>
        </div>
    </div>


    <!-- JavaScript -->    
    <script src="/js/default.js"></script>
    <script>
        document.querySelector('#menu-name').innerHTML = '> 회원 탈퇴';


        function onClickOk(){
            var password = document.querySelector('#password');
            fetchTEXT(
            "/member/pwconfirm",
            {
            password: password.value
            },
            (data) => {
                if(data == "success") {
                    if (confirm("정말 탈퇴하시겠습니까?")) {
                        alert("o");
                    } else {
                        alert("x");
                    }
                } else {
                    alert("비밀번호 불일치");
                }
            });
        }
    </script>
</body>
</html>