<!DOCTYPE html>
<html lang="ko">
<head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <link rel="stylesheet" href="/css/member/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/member/bootstrap.min.css">
    <link rel="stylesheet" href="/css/member/connect.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
  <body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <div class="content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="form-block">
                    <div class="mb-4">
                    <h3><strong>로그인</strong></h3>
                    <p class="mb-4">이메일과 비밀번호를 입력해주세요.</p>
                  </div>
                  <form id="loginform" onsubmit="return false;" method="post">
                    <div class="form-group first">
                      <label for="email">이메일</label>
                      <input type="text" class="form-control" id="email" th:value="${email}">
  
                    </div>
                    <div class="form-group last mb-4">
                      <label for="password">비밀번호</label>
                      <input type="password" class="form-control" id="password" th:value="${password}">
                    </div>
                    
                    <div class="d-flex mb-5 align-items-center">
                      <label class="control control--checkbox mb-0"><span class="caption">자동 로그인</span>
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                      </label>
                      <span class="ml-auto"><a href="#" class="forgot-pass">비밀번호 찾기</a></span> 
                    </div>
  
                    <input id ="loginbtn" type="submit" value="로그인" class="btn btn-pill text-white btn-block">
  
                    <span class="d-block text-center my-4 text-muted">SNS 간편 로그인</span>
                    
                    <div class="social-login text-center">
                      <a href="#" class="facebook">
                        <span class="icon-facebook mr-3"></span> 
                      </a>
                      <a href="#" class="twitter">
                        <span class="icon-twitter mr-3"></span> 
                      </a>
                      <a href="#" class="google">
                        <span class="icon-google mr-3"></span> 
                      </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
    <script src="/js/member/connect.js"></script>
</body>
</html>