<!DOCTYPE html>
<html lang="ko">
<head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/member/join.css"> -->
</head>
<body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <h2>회원가입</h2>

    <div id="email">
        <strong>이메일</strong>
        <input type="text" name="id">@<input type="text" name="address">
        <select name="select">
            <option value="">-선택-</option>
            <option value="">직접 입력</option>
            <option value="naver.com">naver.com</option>
            <option value="gmail.com">gmail.com</option>
            <option value="hanmail.net">hanmail.net</option>
            <option value="hotmail.com">hotmail.com</option>
        </select>
        <input type="button" name="btnEmail" value="확인">
    </div>

    <div id="password">
        <strong>비밀번호</strong>
        <input type="password" name="pw">
        <strong>비밀번호 확인</strong>
        <input type="password" name="confirm">
        <input type="button" name="btnPw" value="확인">
        <a name="message" style="color: red;">비밀번호를 확인하세요</a>
    </div>

    <strong>닉네임</strong>
    <input type="text" id="nickname">

    <div id="phonenumber">
        <strong>전화번호</strong>
        <input type="tel" name="no1" value="010" disabled> -
        <input type="tel" name="no2" maxlength="4"> -
        <input type="tel" name="no3" maxlength="4">
        <input type="button" name="ok" value="ok">
    </div>

    <div id="address">
        <strong>주소</strong>
        <input type="text" name="road" disabled>
        <input type="button" name="search" value="검색"><br/>
        <strong>상세주소</strong>
        <input type="text" name="details">
    </div>




    <!-- javaScript -->
<script src="/js/default.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    var btnEmail = document.querySelector("#email [name='btnEmail']");
    var inputId = document.querySelector("#email [name='id']");
    var inputAddress = document.querySelector("#email [name='address']");
    var selectAddress = document.querySelector("#email [name='select']");

    selectAddress.addEventListener("change", () => {
        inputAddress.value = selectAddress.value;
    });
    btnEmail.addEventListener("click", () => {
        var email = inputId.value + "@" + inputAddress.value;
        fetchTEXT(
        "/member/email_search",
        {
          email: email
        },
        (data) => {
            console.log(data);
            if (data >= 1) {
                alert("이미 등록된 이메일입니다.");
            } else {
                alert("가입 가능합니다.");
            }
        }
      );
    });


    var message = document.querySelector("#password [name='message']");
    var btnPw = document.querySelector("#password [name='btnPw']");
    var pw = document.querySelector("#password [name='pw']");
    var confirm = document.querySelector("#password [name='confirm']");
    message.style.display = 'none';

    btnPw.addEventListener("click", () => {
        if (pw.value == confirm.value) {
            message.style.display = 'block';
            message.style.color = 'blue';
            message.text = "비밀번호가 동일합니다";
        } else {
            message.style.display = 'block';
        }
    });

    var no1 = document.querySelector("#phonenumber [name='no1']");
    var no2 = document.querySelector("#phonenumber [name='no2']");
    var no3 = document.querySelector("#phonenumber [name='no3']");
    var ok = document.querySelector("#phonenumber [name='ok']");

    ok.addEventListener("click", () => {
        const phonenumber = no1.value + "-" + no2.value + "-" + no3.value;
        console.log(phonenumber);
    });

    var search = document.querySelector("#address [name='search']");
    search.addEventListener("click",  () => {
        // let openWin = window.open('/roadSearch', 'pop','width=430,height=500,location=no,status=no,scrollbars=yes');
        // openWin.document.sample2_execDaumPostcode();
        new daum.Postcode({
        oncomplete: function(data) {
        	console.log(data);
            var roadAddr = data.roadAddress; // 도로명 주소 변수
            var jibunAddr = data.jibunAddress; // 지번 주소 변수
            if(roadAddr !== ''){
                document.querySelector("#address [name='road']").value = roadAddr;
            } 
            else if(jibunAddr !== ''){
                document.querySelector("#address [name='road']").value = jibunAddr;
            }
        }
    }).open();
});




    
</script>

</body>
</html>