<!DOCTYPE html>
<html lang="ko">
<head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/member/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
  <body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <div class="wrap">
      <div class="login">
          <h2>로그인</h2>
          <div class="login_sns">
            <li><a href=""><img src="/images/kakaotalk_logo.png" width="30px"></a></li>
            <li><a href=""><img src="/images/naver_logo.png" width="30px"></a></li>
            <li><a href=""><img src="/images/logo_google.png" width="30px"></a></li>
            </div>
          <div class="login_email">
              <h5>이메일</h5>
              <input type="email" name="email" id="email" placeholder="이메일">
          </div>
          <div class="login_pw">
              <h5>비밀번호</h5>
              <input type="password" name="password" id="password" placeholder="비밀번호">
          </div>
          <div class="login_etc">
              <div class="checkbox">
              <input type="checkbox" name="savetheinfo">로그인 정보 저장
              </div>
              <div class="forgot_pw">
              <a href="#">비밀번호 찾기</a>
              </div>
              <div class="forgot_pw">
              <a href="/member/join">회원가입</a>
              </div>
            </div>

          <div class="submit">
              <input type="submit" id="btnLogin" value="로그인">
          </div>
      </div>
  </div>
  <script>
    const btnLogin = document.querySelector("#btnLogin");
    btnLogin.addEventListener("click", login);

    function login() {
      let email = document.querySelector("#email");
      let password = document.querySelector("#password");

      fetch("/member/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ email: email.value, password: password.value }),
      })
        .then(function (response) {
          if (response.ok) {
            return response.text();
          }
          throw new Error("Network response was not ok.");
        })
        .then(function (data) {
          if (data === "true") {
            window.location.href = "/";
          } else {
            alert("이메일 또는 비밀번호가 일치하지 않습니다.");
          }
        })
        .catch(function (error) {
          console.log("Error:", error);
        });
    }
  </script>
</body>
</html>