<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <link rel="stylesheet" href="/css/member/login.css" />
  </head>
  <body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <main>
      <div class="container">
        <div id="loginform" class="z-depth-3">
          <h5>로그인</h5>
          <div class="input-field">
            <input id="email" name="email" type="text" class="validate" />
            <label for="email">이메일</label>
          </div>
          <div class="input-field">
            <input id="password" name="password" type="password" class="validate" />
            <label for="password">비밀번호</label>
          </div>
          <button id="btnLogin" class="btn green">로그인</button>
        </div>
      </div>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
  </body>
  <script>
    const btnLogin = document.querySelector("#btnLogin");
    btnLogin.addEventListener("click", login);

    function login() {
      let email = document.querySelector("#email");
      let password = document.querySelector("#password");

      fetch("/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ email: email.value, password: password.value }),
      })
        .then(function (response) {
          if (response.ok) {
            return response.text();
          }
          throw new Error("Network response was not ok.");
        })
        .then(function (data) {
          if (data === "true") {
            window.location.href = "/";
          } else {
            alert("이메일 또는 비밀번호가 일치하지 않습니다.");
          }
        })
        .catch(function (error) {
          console.log("Error:", error);
        });
    }
  </script>
</html>
