<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/member/mypage.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>코코팜 > 비밀번호 찾기</title>
</head>
<body>
  <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
  <th:block th:replace="~{fragments/mypagetopbar :: mypagetopbarFragment}"></th:block>

  <div class="container">
    <th:block th:replace="~{fragments/mypagesidebar :: mypagesidebarFragment}"></th:block>
    <div class="row">
      <h5>비밀번호 변경</h5>
      <div id="password_modify">
        <table>
          <tbody>
            <tr>
              <th>새로운 비밀번호</th>
              <td><input type="password" id="pw" placeholder="변경 할 비밀번호를 입력해 주세요." /></td>
            </tr>
            <tr>
              <th>비밀번호 확인</th>
              <td><input type="password" id="pw2" placeholder="변경 할 비밀번호를 입력해 주세요." /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <a href="#" id="btnok">변경 ></a>
    </div>
  </div>
      <!-- JavaScript -->
      <script src="/js/default.js"></script>
      <script>
        document.querySelector("#menu-name").innerHTML = "> 비밀번호 변경";
        document.querySelector("#btnok").addEventListener("click", () => {
          var pw = document.querySelector("#pw");
          var pw2 = document.querySelector("#pw2");
          if (pw.value.length < 1 || pw2.value.length < 1) {
            M.toast({html: '비밀번호를 입력되지 않았습니다.\n 비밀번호를 입력해 주세요.'});
          } else if (pw.value != pw2.value) {
            M.toast({html: '비밀번호가 일치하지 않습니다.'});
          } else {
            fetchTEXT("/member/modifypw", {password: pw2.value}, (data) => {
                if (data == "success") {
                  location.href = "/member/myinfo";
                  alert("비밀번호가 변경되었습니다.");
                } else {
                  M.toast({html: '비밀번호 변경에 실패했습니다.\n 잠시 후에 다시 시도해 주세요.'});
                }
              }
            )
          }
        });
      </script>
</body>
</html>