<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/member/mypage.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <th:block th:replace="~{fragments/mypagebar :: mypagebarFragment}"></th:block>

    <script>
        document.querySelector('#menu-name').innerHTML = '> 내가 쓴 글';
        document.querySelector('#menu-name2').innerHTML = '내가 쓴 글';
    </script>
</body>
</html>