<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/member/mypage.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <th:block th:replace="~{fragments/mypagetopbar :: mypagetopbarFragment}"></th:block>

    <div class="container">
      <th:block th:replace="~{fragments/mypagesidebar :: mypagesidebarFragment}"></th:block>
      <div class="row">
        <h5>내 정보</h5>
        <div id="myinfo">
          <table>
            <tbody>
              <tr>
                <th>이메일</th>
                <td th:text="${userinfo.email}">email</td>
              </tr>
              <tr>
                <th>닉네임</th>
                <td th:text="${userinfo.nickname}">nickname</td>
              </tr>
              <tr>
                <th>전화번호</th>
                <td th:text="${userinfo.phonenumber}">정보 없음</td>
              </tr>
              <tr>
                <th>주소</th>
                <td th:text="${userinfo.address}">서울특별시 종로구 청와대로 1</td>
              </tr>
            </tbody>
          </table>
        </div>
        <a href="#">정보 수정하기 ></a>
      </div>
    </div>

    <script src="/js/default.js"></script>
    <script>
      document.querySelector("#menu-name").innerHTML = "> 내 정보";
    </script>
  </body>
</html>
