<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/member/refused.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <main class="wrap">
        <div class="refused">
            <h5>⚠️ 접근이 제한된 계정</h5><br>
            <p style="font-weight:700; font-size: 1.1rem;">이 계정은 사용할 수 없습니다.</p>
            <p style="font-weight:700; font-size: 1.1rem;">문의는 고객센터를 이용해 주십시오.</p><br>
            <p>고객센터 1588-0000</p>
            <p>평일 09:00 ~ 18:00</p>

        </div>
      </main>


      <!-- JavaScript -->
      <script src="/js/default.js"></script>

      </script>
</body>
</html>