* {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
}
/* 나눔고딕체 font-weight: 400, 700, 800
  로도 regular, bold, bolder(extrabold) 조절 가능합니다!  */

.respons {
  padding: 40px;
  width: 300px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.headerNav {
  padding-inline: 15%;
}

#nav-mobile a {
  font-weight: 700;
}

footer p,
footer span,
footer a {
  color: #314637;
  font-weight: 700;
  font-size: 0.85rem;
}

footer a:hover {
  font-weight: 800;
}

.footerTitle {
  font-weight: 800;
  font-size: 1.3rem;
  text-decoration: underline;
}
