* {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
}

.respons {
  padding: 40px;
  width: 300px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.headerNav {
  padding-inline: 15%;
}

#nav-mobile a {
  font-weight: 700;
}

footer p,
footer span,
footer a {
  color: black;
}

footer a:hover {
  font-weight: 800;
}

.footerTitle {
  font-weight: 800;
  font-size: 1.3rem;
}
