html,
body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.headerNav {
  padding-inline: 15%;
}

footer p,
footer span,
footer a {
  color: black;
}

footer a:hover {
  font-weight: bold;
}

.footerTitle {
  font-weight: bold;
  font-size: 1.2rem;
}
