#pageFirst,
#pageLast {
  cursor: pointer;
}

.pageNum {
  cursor: pointer;
}

#boxBtnPage {
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#boxBtnPage * {
  margin-inline: 5px;
}

#boardCategory {
  width: 60%;
  margin: 0 auto;
  padding-block: 10px;
}

#boardCategory a {
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding: 20px;
}

table {
  width: 60%;
  margin: 0 auto;
}
tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
