section {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  flex: 1 0;
  border-radius: 10px;
  border: 2px solid #eee;
}
h5 {
  margin: 0;
  max-lines: 1;
  font-weight: bold;
}

h6 {
  margin: 0;
  font-weight: bold;
}
#titlebox {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

#hr {
  margin-block: 10px;
  width: 100%;
  background-color: #eee;
  height: 2px;
}

#mainimage {
  width: 250px;
}

#btnBox {
  padding: 10px;
  padding-bottom: 0;
  margin: 0;
}

.btn {
  width: fit-content;
  margin-right: 5px;
}

tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 0;
}
th {
  padding: 5px;
}
td {
  padding: 5px;
  padding-top: 0px;
}
table {
  position: relative;
  background-color: #eee;
  margin-bottom: 5px;
}

#productBox {
  display: flex;
  background-color: #eee;
  padding: 10px;
}
#productImage {
  width: 100px;
  margin-right: 10px;
}
#productContent {
  font-size: 0.8rem;
  max-lines: 3;
}

#replyList {
  margin-top: 20px;
}

#answerForm,
#replyForm {
  display: none;
  border-radius: 10px;
  margin-top: 20px;
  padding-inline: 10px;
  padding-top: 10px;
  background-color: white;
}

#btnAnswer,
#btnReply {
  position: absolute;
  right: 10px;
}

#btnAnswerConfirm,
#btnReplyConfirm {
  display: none;
  position: absolute;
  right: 76px;
}

small {
  margin-left: 10px;
}

.btnmodify,
.btndelete {
  position: absolute;
  z-index: 2;
  padding: 5px;
  height: 25px;
  line-height: 100%;
  margin: 5px;
}

.btnmodify {
  right: 212px;
}
.btndelete {
  right: 170px;
}
