#pageFirst,
#pageLast {
  cursor: pointer;
}

.pageNum {
  cursor: pointer;
}

#boxBtnPage {
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#boxBtnPage * {
  margin-inline: 5px;
}
