#content {
  min-height: 300px;
}

#productSelect {
  margin-top: 20px;
  display: block;
  width: fit-content;
  height: 2rem;
  align-items: center;
  padding: 0 5px;
}
/* label color */
.input-field label {
  color: #429f5d;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #429f5d;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #429f5d;
  box-shadow: 0 1px 0 0 #429f5d;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #429f5d;
  box-shadow: 0 1px 0 0 #429f5d;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid #429f5d;
  box-shadow: 0 1px 0 0 #429f5d;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #429f5d;
}

.row,
.input-field {
  margin-bottom: 0;
}

.btn {
  margin-bottom: 10px;
}

#submit {
  margin-right: 5px;
}
#productBox {
  margin-top: 10px;
  height: fit-content;
  display: none;
  background-color: #eee;
  padding: 10px;
}
#productImage {
  width: 100px;
  margin-right: 10px;
}
#productContent {
  font-size: 0.8rem;
  max-lines: 3;
}
#productName {
  font-weight: bold;
}
