<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <link rel="stylesheet" href="/css/board/boardadminwrite.css" />
  </head>
  <body>
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
    <main>
      <div class="container">
        <div id="form">
          <select name="category" id="category">
            <option value="202">공지사항</option>
            <option value="204">이벤트</option>
          </select>
          <input id="title" name="title" type="text" placeholder="제목" />
          <div class="input-field col s12 m6">
            <select id="imageSelect" class="icons">
              <option th:each="image : ${imagelist}" th:value="${image.filename}" th:data-icon="${'/images/'+image.filename}"></option>
            </select>
            <label>메인 이미지 선택</label>
          </div>
          <textarea id="content" class="materialize-textarea" name="content" placeholder="내용..."></textarea>
          <button id="btnFinish" class="btn">작성완료</button>
          <button id="btnCancel" class="btn red">취소</button>
        </div>
      </div>
    </main>
    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
  </body>
  <script>
    const btnFinish = document.querySelector("#btnFinish");
    const btnCancel = document.querySelector("#btnCancel");
    const category = document.querySelector("#category");
    const title = document.querySelector("#title");
    const content = document.querySelector("#content");
    const imageSelect = document.querySelector("#imageSelect");

    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll("select");
      var instances = M.FormSelect.init(elems, {
        dropdownOptions: {
          coverTrigger: false,
          container: document.body,
          constrainWidth: false,
        },
        classes: "icons",
      });
      var selectedValueElement = document.querySelectorAll(".select-dropdown").item(1);
      imageSelect.addEventListener("change", function () {
        var selectedOption = this.options[this.selectedIndex];
        var selectedValue = selectedOption.value;
        selectedValueElement.value = selectedValue;
      });
    });
    btnFinish.addEventListener("click", () => {
      if (title.value == null || title.value == "") {
        M.toast({ html: "제목을 입력해주세요." });
        return;
      }
      if (content.value == null || content.value == "") {
        M.toast({ html: "내용을 입력해주세요." });
        return;
      }

      let category_cd = category.options[category.selectedIndex].value;
      let mainimage = imageSelect.options[imageSelect.selectedIndex].value;
      fetchTEXT(
        "/admin/board/write",
        {
          title: title.value,
          content: content.value,
          board_category_cd: category_cd,
          mainimage: mainimage,
        },
        (data) => {
          if (data == "success") {
            alert("등록되었습니다.");
            location.href = "/admin/board/";
          } else {
            alert("작성에 실패했습니다.");
          }
        }
      );
    });
    btnCancel.addEventListener("click", () => {
      if (confirm("작성한 내용은 저장되지 않습니다. 취소하시겠습니까?")) {
        location.href = "/admin/board/";
      }
    });
  </script>
</html>
